[2014-08-21 21:18] gcq opened #1 "NmeError in replace_parse()"
NameError: name 'spacing' is not defined ([code](https://github.com/isaacg1/pyth/blob/master/pyth.py#L177))

[2014-08-22 20:50] #1 closed, assigned to nobody

[2014-09-16 15:32] DennisMitchell opened #2 "Mysterious number to string conversion"
[code]

[2014-09-16 15:50] #2 closed, assigned to nobody

[2014-09-16 16:39] DennisMitchell opened #3 "Floating point argument doesn't trigger floating point division"
[code]

[2014-09-16 16:49] #3 closed, assigned to nobody

[2014-10-04 07:01] Quincunx271 opened #4 "pyth.py doesn't handle files properly"
[code]

Works properly, prints 2.

However,

[code]

where pyth_code .txt is simply

[code]

Fails. In the first, pyth.py executes the entire thing (`+1 1`), but in the second, it only executes `+1`.

[2014-10-07 00:26] #4 closed, assigned to nobody

[2014-12-07 03:03] willsherwood opened #5 "Example program"
Quine example program no longer works, simply prints a " to the screen.

[2014-12-07 16:02] #5 closed, assigned to nobody

[2014-12-22 22:47] jakobkogler opened #6 "Dicts in Pyth"
Is it possible to create a dictionary?

I saw, that you can use the lookup function on dicts, but I found no command, which creates a dict.

[2014-12-23 00:52] #6 closed, assigned to nobody

[2014-12-23 23:04] jakobkogler opened #7 "List of Strings in Online Version"
There seem's to be a litle bug in the online version.

The code `jdQ` with input `["hallo", "world"]` prints `hallo "world` instead of `hallo world`. In the offline version, it works.

[2014-12-23 23:15] #7 closed, assigned to nobody

[2015-01-05 17:17] jakobkogler opened #12 "+= syntax for lists and dicts"
With the current syntax, adding 1 to a number in a list takes 8 chars, that's 1 more than the standart python code and 9 bytes, if you add something different

     XY1h@Y1 <-> Y[1]+=1

     XY1+3@Y1 <-> Y[1]+=3

That's really annoying, especially if you have to use this multiple times in a program.
It would be awesome, if there would be a shorter syntax.

[2015-01-05 17:20] jakobkogler opened #13 "Online Debug mode error"
I've written a program in pyth.

    Lu*GhHUb1WsPQV4J*@QNytsPQFZPQ=J/JyZ)I<JeQ XQ4-eQJ)EN XQNt@QNB

Input is

    [2, 2, 3, 1, 86]

It works, when the debug mode is disabled (Output: `01120232`), but it only prints

    ==================================================
    Lu*GhHUb1WsPQV4J*@QNytsPQFZPQ=J/JyZ)I

when debug is on.

[2015-01-05 17:38] Tyilo commented on #13
Fixed in https://github.com/Tyilo/pyth/commit/fc83817e9c3cc0407bb979d82beed305901c5e85

Also pushed to the server.

[2015-01-05 22:56] #13 closed

[2015-01-05 22:57] isaacg1 commented on #12
Fixed, see newest commit. It's a bit of a hack, but it'll work. Use X<index><list><addend>

[2015-01-05 22:57] #12 closed

[2015-01-15 12:02] jakobkogler opened #15 "Map with int as input"
The following code doesn't work:

    md5

According to the documentation, it should produce  the list `0,1,2,3,4`, like `U5`. The error says, that you can't iterate over an integer.

Only tested this in the online version.

[2015-01-15 20:47] isaacg1 commented on #15
I tested it on the command line version, and it works fine.

[2015-01-15 21:11] isaacg1 commented on #15
Fixed. Just needed to move changes to heroku.

[2015-01-15 21:11] #15 closed

[2015-01-17 20:00] jakobkogler opened #16 "A few online input parsing errors"
I experienced a few errors in the online version of pyth.

The following inputs work only in the offline version.

Tuples:

     (1,2,3)

Nested lists, nested tuples, ...

    [[1,2,3], [1,2,3]]

Sets:

    {1,2,3}

I always used `Q` as code.

[2015-01-17 23:21] Tyilo commented on #16
Fixed in #17, also pushed to the server.

[2015-01-18 00:18] #16 closed

[2015-02-24 23:09] Maltysen opened #21 "Assign Operator Bug"
The assign operator's entry in data.py has a bug that prevents it from being used. It says 'A': '=,{0}{1}' instead of 'A': ',{0},{1}' There is a missing comma.

[2015-02-24 23:54] isaacg1 commented on #21
I believe `A` is currently working as intended. Here is an example program using `A`: `AYZ,ZYYZ`. This swaps the values stored in `Y` and `Z`, leading to `0` in `Y` and `[]` in `Z`. Please leave a comment with a piece of code you believe is not functioning correctly, so I can determine whether a bug exists or not.

[2015-02-25 01:19] Maltysen commented on #21
Ah, sorry. I misunderstood how A was supposed to be used, and assumed the syntax `AkdTZ` would be enough to do `k=10` and `d=0` and no separating comma was necessary. Is there any particular reason this is not so?

[2015-03-04 23:14] isaacg1 commented on #21
It's so you can assign an existing tuple using A.

[2015-03-04 23:14] #21 closed

[2015-03-20 16:15] jakobkogler opened #26 "Splitting lists into parts"
During [this](http://codegolf.stackexchange.com/questions/48027/discrete-bakers-map) golfing competition, I needed to split a list (or string) into two parts. Instead of `cY/lY2` (calculating half the length and chopping) `c2Y` would be nice. `c <int> <list>` is not used at the moment.

I've already forked the project and did the changes. But before making the push-request, I just wanted to know y

[2015-03-21 04:24] isaacg1 commented on #26
Hmm.. One option is `c7UT` would give `[0, 1], [2, 3], [4, 5], [6, 7], [8, 9], [], []`. Nevertheless, I prefer the later option, but again with empty lists at the end if necessary. `c12UT` would give `[0], [1], [2], [3], [4], [5], [6], [7], [8], [9], [], []`

[2015-03-21 17:23] #26 closed

[2015-03-24 23:05] orlp opened #28 "Docs for indexed-assign has arity 1 in docs, real arity is 3."
Pretty much title.

[2015-03-25 01:02] orlp opened #29 "Invert dictionary using _"
A cool feature would be to allow `_` to be used on dictionaries, inverting the dictionary:

    H = {v: k for k, v in H.items()}

Right now `_H` is always an error, as `H[::-1]` makes no sense.

[2015-03-25 02:42] isaacg1 commented on #28
Fixed.

[2015-03-25 02:42] #28 closed

[2015-03-25 02:44] isaacg1 commented on #29
I like it. Will implement. I'm also going to add a 'convert to dictionary' operation in place of `~`, since dicts a realm of unexplored possibilities.

[2015-03-25 02:44] #29 closed

[2015-03-25 03:28] orlp opened #30 "Use ._ as secondary operation table"
What if we turned `._` where _ is `[^0-9]` into a secondary operation table indexed by _? This would be easy to parse, wouldn't break old programs, and add a plethora of possibilities.

The only annoying thing about using `.` is that you'll have to implement lookahead when encountering `.` to check if the next token is `[^0-9]` in order to see if it's part of a numeric literal or an operation. But

[2015-03-25 05:22] isaacg1 commented on #30
Sounds like a great idea - I'm going to start with the python builtins that can be directly dropped in, then eventually expand to include all of these.

However:
max = eS
min = hS

[2015-03-25 05:24] orlp commented on #30
@isaacg1 You're right about max, min, so I'll remove those.

[2015-03-25 05:28] orlp commented on #30
@isaacg1 If you have ideas for any utility functions/builtins do let me know :)

[2015-03-25 05:30] isaacg1 commented on #30
I'm planning to look through a bunch of packages to find good ones.

[2015-03-25 05:30] orlp commented on #30
@isaacg1 I'd also suggest reverting the `~` dict change, and stashing that under some `._` command, as `~` was rather useful (at least to me) and it would invalidate old answers.

[2015-03-25 05:31] isaacg1 commented on #30
Sure, though primarily from the `Don't break stuff` side. It only saved 1 character.

[2015-03-25 05:32] orlp commented on #30
@isaacg1  I was under the impression it saved two?

`=Z+Z42` vs `~Z42`

[2015-03-25 05:33] isaacg1 commented on #30
`+=Z2` was recently added, along with `_=` anything.

[2015-03-25 05:35] orlp commented on #30
@isaacg1 Oh, I wasn't aware, cool.

[2015-03-25 05:48] isaacg1 commented on #30
Alright, initial version implemented.

[2015-03-25 05:59] orlp commented on #30
@isaacg1 I spotted a bug in your parsing - I'll fix it.

Also, I was thinking `.x` instead of `.H` for `hex`, thoughts?

[2015-03-25 06:02] isaacg1 commented on #30
`.x` makes me think of `exec` for than `hex`, so I decided to avoid it. `.R` is `round` to leave `.r` for 3 arity range.

[2015-03-25 06:13] orlp commented on #30
@isaacg1 I just realized that for the best behavior in the future we must make one sacrifice that could *potentially* break programs (I don't think it will affect many).

`5.H5` should print 5 0x5, not 5. {} 5. The reason is that the latter behavour can always be forced by `5.0H5`, but `5 .H5` would supress auto-printing.

[2015-03-25 06:20] isaacg1 commented on #30
I agree, though for a somewhat different reason: I think that the ._ usage will be more relevant, adn so should be the default. Floats don't get used that often.

What was the parsing bug you mentioned earlier?

[2015-03-25 06:35] orlp commented on #30
@isaacg1 It was the assertion :)

I'm also working on the code, you're pushing too fast :(

[2015-03-25 06:36] isaacg1 commented on #30
Sorry about that. If it helps, I'm done for the night, so you can work in peace.

[2015-03-25 06:36] #30 closed

[2015-03-25 09:29] orlp opened #31 "Cleaner overloading operators for sequences"
We really should be using `isinstance(a, collections.Sequence)` instead of checking for `list`, `str` and `tuple` seperately where applicable, to be more robust and have cleaner code.

[2015-03-25 09:31] orlp commented on #31
Oh I now just noticed `is_seq`. It is used quite often actually!

It just happened to be I only was editing the code that manually checks individual types (itertools.product). Never mind this issue, as it's already decently applied.

[2015-03-25 09:31] #31 closed

[2015-03-26 10:46] jakobkogler opened #34 "Unpacking requires close-parentheses"
I have one issues/proposal about the new unpacking operator. Since the compiler doesn't know the size of the iterable, it gets a little bit confused.

It works great, if you only do one statement: [`+.*,5 7`][0] prints 12.

It after the code segment a second statement follows. You need a close-parentheses: [`+.*,5 7)Y`][1]. If you write [`+.*,5 7Y`][2], the parser thinks that `.*,5 7` is the first

[2015-03-26 13:23] orlp commented on #34
I totally agree. I was actually about to open this exact issue when I clicked here.

For now I'd suggest the solution of adding a second operator that substitutes itself for `.*)`. There might still be more use cases of `.*` without the implicit parentheses.

[2015-03-26 14:44] #34 closed

[2015-03-26 23:58] orlp opened #36 "Easier development by adding multiline mode, allowing newlines and comments."
I propose a new development "multiline" mode, that would be triggered by a command line flag, `-m`. It would be a pre-processor to make development easier.

The following list is a series of preprocessor steps (order matters) to implement this. Bear with me, as it's kind of tricky to get it right.

- Lines starting with only whitespace followed by `;` are removed.
- All lines due for removal will

[2015-03-27 00:50] orlp commented on #36
I'm not 100% sold on my method of detecting in-line comments, as I'd like this to work which currently doesn't.

    codecodecode          This is a long comment,
                          which is hand-wrapped.
    morecodecode          And we're back to working comments.

I think a proper solution is to allow only incrementing the indentation level by one per line, but this might be a bit annoyi

[2015-03-27 02:31] orlp commented on #36
Ok, I figured out a proper indenting / commenting scheme:

1. Initially the `indent_level` is 0.
2. A line will have _up to_ `indent_level + 1` tabs or `" " * indent` removed. The number removed is remembered.
3. After the indentation has been removed, checking is done for two consecutive spaces to strip off any trailing inline comment.
4. If the line after stripping inline comments is non-empty t

[2015-03-27 02:35] orlp commented on #36
Coming to think of it, I actually like a default indent of 2 much more than 4, considering all lines in Pyth are always so short.

[2015-03-27 21:59] jakobkogler opened #39 "Autoinitializing input variable bug"
It seems like the autoinitializing input variables are a bit buggy. Here three examples I found:

 - [`"A horde of zombies are attacking!"z"RUN"`][0] doesn't read any input, instead it stores the string `RUN` in the variable `z`. This one is actually documented in the code: "First occurance must not be in a string."

 - Some ascii art: [`"._.-\"-._."z"._.-\"-._."`][1]. Again this doesn't read any

[2015-03-27 22:04] orlp commented on #39
I don't think that "First occurance must not be in a string." is desired behaviour, ever.

[2015-03-27 22:20] jakobkogler commented on #39
@orlp Yeah, I think so too. It was probably just a quick workaround.

[2015-03-27 22:30] isaacg1 commented on #39
Yeah, this was not intended behavior, just laziness / a hack.

[2015-03-27 22:38] isaacg1 commented on #39
Another thing we'll have to be sure not to introduce/build in a case for is .z, or .Q

[2015-03-27 22:38] #39 closed

[2015-03-27 23:00] orlp commented on #39
@isaacg1 All issues should be simple to resolve if you treat `z` and `Q` and co like proper tokens, and only do their thing when you encounter the token.

[2015-03-27 23:02] #36 closed

[2015-03-27 23:04] isaacg1 commented on #39
True, and perhaps that would be better. However, that would require the parser to allow global effects on the code, which I'd prefer to avoid until it's really necessary.

[2015-03-27 23:13] jakobkogler commented on #39
@orlp Pretty sure this would break lot's of existing code. And all 3 issues have been fixed in #40.

[2015-03-27 23:18] orlp commented on #39
@jakobkogler Could you give an example?

[2015-03-27 23:39] jakobkogler commented on #39
@orlp It may break, if you use `z` and `Q` in the same code. At the moment the first line of the input is always stored into `z`, and the second line in `Q`.

It would break for instance this one ([link](http://codegolf.stackexchange.com/questions/47710/the-characters-in-the-string-go-round-and-round/47719#47719)), since `Q` appears before `z`. (Swapping the input lines fixes it of course.)

It ge

[2015-03-27 23:40] jakobkogler commented on #39
@isaacg1 While I'm on the subject of reading multiple lines of input and you mentioned `.z`. That would be a nice addition.

[2015-03-28 01:02] isaacg1 commented on #39
What were you thinking of for `.z`?

[2015-03-28 01:31] jakobkogler commented on #39
Well, reading multiple lines (read all of the input). The same as `#aYw)` does.

For instance check out the new [How do I get more Klotski in my life?](http://codegolf.stackexchange.com/questions/48236/how-do-i-get-more-klotski-in-my-life) challenge. It would be quite nice, if you could input

    #######
    #001gg#
    ##.222#
    .######

instead of

    #######\n#001gg#\n##.222#\n.######

Firs

[2015-03-28 01:43] orlp commented on #39
@jakobkogler No you misinterpreted what I meant.

My exact proposal is the following:

[2015-03-28 02:36] isaacg1 commented on #39
@jakobkogler Implemented .z and .Q

[2015-03-28 04:01] orlp opened #41 "Can't make empty set."
Please allow `{)` to make an empty set by making the argument to `Pset` optional.

I am aware of `{Y`, but `Y` is not always empty.

[2015-03-28 04:05] isaacg1 commented on #41
Implemented.

[2015-03-28 04:05] #41 closed

[2015-03-28 04:10] orlp commented on #41
Could you do the same for `[)`?

[2015-03-28 04:12] isaacg1 commented on #41
Sure, and I'll throw in `()` for free. I'm going to make `])` `[[]]`, though, because that case also comes up a fair amount.

[2015-03-28 04:13] isaacg1 commented on #41
Hang on, `[)` and `()` already work.

[2015-03-28 04:16] orlp commented on #41
Allright, cool, then it was just set that was the oddball :)

[2015-03-28 04:18] orlp opened #42 "Should cast seq to set for .& and .|."
For `.&` and `.|` we should cast sequences to sets before doing `&` or `|`. It's the only sensible thing to do, and a syntax error right now.

[2015-03-28 04:21] isaacg1 commented on #42
What would distinguish `.&` from `@`? I can implement the equivalent of `@` for union for `.|`, though.

[2015-03-28 04:21] orlp opened #43 "a should be add on sets."
When the argument to `a` is a set, currently it will try to use `append` which is obviously a syntax error. I propose that `a` means `add` on sets.

[2015-03-28 04:27] orlp commented on #42
@isaacg1 `.&` is mostly for bitwise and, and currently directly maps to `&`, which is union for sets, hence this suggestion. Maybe we should do something entirely different for `.&` when an argument is a sequence. I did spot a quick potential annoyance, if argument `a` of `@` is a set, it will still return a list, rather than a set.

[2015-03-28 04:32] orlp commented on #43
Oh and very important, if you attempt to add a mutable sequence to a set, I'd suggest we automatically cast to a `tuple` rather than throwing an error.

[2015-03-28 04:34] isaacg1 commented on #42
Alright, I'm working on this. Implementing union, (`.|`) and fixing the behavior of `@`.

[2015-03-28 04:35] isaacg1 commented on #43
Working on implementing.

[2015-03-28 04:52] orlp opened #44 "Indexed += on dicts should act like defaultdict."
If you use `X` with `b` as a `dict` then the code will act as if you've written:

    b[a] += c

I'd propose the following behaviour instead:

    try:
        b[a] += c
    except KeyError:
        b[a] = c

[2015-03-28 04:54] isaacg1 commented on #44
Sounds good to me. Will implement, and will push once github stops being DDoS'd.

[2015-03-28 05:04] isaacg1 commented on #44
Implemented.

[2015-03-28 05:04] #44 closed

[2015-03-28 05:04] isaacg1 commented on #42
Implemented.

[2015-03-28 05:04] #42 closed

[2015-03-28 05:05] isaacg1 commented on #43
Implemented.

[2015-03-28 05:05] #43 closed

[2015-03-28 21:26] isaacg1 opened #46 "Pyth Test Suite"
Pyth is getting large enough that it should probably have a test suite. We would want this to cover every construct in the language, getting called with each type in the language. Tests for the parser itself would also be good.

Questions:
Should this be tested in python, by calling the functions in `macro.py`, or should this be done outside of that, by looking at the output of `pyth.py `?
What's

[2015-03-28 23:29] orlp commented on #46
Definitely do _not_ make this by directly calling macro.py - test programs directly.

My suggestion to write the test cases is to make an array of 3 tuples `(program, input, output)`, and replace the Python functions `input()` and `print()` to test.

Since all testing will be uniform like that - program, input, output - I wouldn't suggest using a testing framework just yet, and just loop over all

[2015-03-28 23:30] isaacg1 commented on #46
I didn't know `input()` and `print()` could be replaced like that - how would one go about doing that?

[2015-03-28 23:31] orlp commented on #46
old_print = print
    def print(*args, **kwargs):
        old_print("You have no power here!")

[2015-03-29 03:53] orlp opened #48 "Exit function"
What about making a new function with arity 0, for example `.q`, that exits the script immediately when called?

[2015-03-29 04:52] orlp opened #49 "Only use next lambda parameter if nested."
This is a pretty big backwards-compatibility break, but I think lambda parameters should only switch to the next set of parameters if you're nesting them.

[2015-03-29 05:38] isaacg1 commented on #49
I agree, that would be really nice, and definitely worth breaking compatibility. I'm not completely sure how to go about doing it, though. Perhaps pass an extra parameter in parse, containing all of the nesting levels?

[2015-03-29 05:47] orlp commented on #49
Basically this requires a manual stack or recursive descent parsing.

It would be quite some work to port the parser into a recursive descent, but it should make this issue trivial, and make the code a lot cleaner in the end (a lot less exceptions, and different tables for different kinds of operators).

[2015-03-29 06:14] isaacg1 commented on #46
ll right, I'm working on implementing this.

[2015-03-29 21:35] isaacg1 commented on #48
Implemented.

[2015-03-29 21:35] #48 closed

[2015-03-30 00:25] orlp opened #51 "Adding complex numbers to Pyth."
It's been suggested a couple of times now. I'm opening this issue to talk about how complex numbers would be implemented, and what behaviour we want from existing functions when passed in a complex argument.

[2015-03-30 00:48] orlp opened #52 "Add xth root to Pyth under @."
Right now `@` has no defined function when passed two numbers. I'd suggest that `@` when passed with two numbers becomes `a ** (1 / b)`.

[2015-03-30 00:54] isaacg1 commented on #46
How does the current system look?

[2015-03-30 01:09] orlp commented on #51
I'd like to start off with the most basic functionality. I think complex numbers should be implemented through the default complex type.

- We need a complex number constructor, `.jab` with a real and b imaginary (`a + bj`) seems fine for that.
- `-+*^_` should work as expected.
- `c` should work as expected, but I don't know what we should expect of `/`.
- We could compare magnitude with `<` and

[2015-03-30 01:31] Maltysen commented on #51
A lot of the things you mentioned work already. The 6 basic arithmetic ops work already (``c``, not ``/``), absolute values work, ``.a`` works, we have to implement comparison by magnitude. All the other functions can we used if we just import ``cmath`` instead of ``math``. This will not result in problems with reals, except that it will always return a complex, with reals it will just have 0 for

[2015-03-30 02:04] orlp commented on #51
@Maltysen That's a hacky fix. A much better fix is to only use the `cmath` function if one of the arguments is complex.

[2015-03-30 02:07] orlp commented on #46
I do not think this is the right way to do it. Opening a lot of processes is slow and not cross-platform either.

Just pass the programs to `general_parse` and replace `input()` and `print()`.

[2015-03-30 02:09] orlp commented on #46
On a side note, now that we have tests, a webserver, docs, etc, I'd suggest we'd introduce some file structure rather than dump everything in the project root.

On a similar note, does the `programs/` folder have any particular use?

[2015-03-30 02:38] isaacg1 commented on #46
The programs folder hypothetically was going to be where I put interesting programs I wanted to share, but that didn't pan out. The current system is rather slow, the implementation you're suggesting is probably better. If you want to implement it, that would be appreciated.

[2015-03-30 03:51] orlp commented on #46
I'll write a function that allows you to run an arbitrary program with an input and get its output. Then we can use that function in the webserver and in the tests. This would make both the tests and the webserver portable.

Then, would you agree with this file structure?

server/server.py
server/favicon.ico
server/index.html
server/web-docs.txt
pyth/data.py
pyth/extra_parse.py
pyth/macros.py
pyth

[2015-03-30 04:04] orlp opened #53 ".q does not exit inside infinite loop."
Change `sys.exit` to `os.exit` so `.q` works inside an infinite loop.

[2015-03-30 05:56] isaacg1 commented on #46
The file structure looks good, and programs and types can be removed, with how to use moved into the readme. I'd prefer to keep everything on one branch for ease of updating, so how about moving the heroku files into the server file as well?

[2015-03-30 06:04] orlp commented on #46
@isaacg1 I never used heroku, but I think those file have to be in the root - hence my suggestion of a different branch.

However ease of updating shouldn't be harder at all, after setting up the branch once:

    git checkout heroku && git merge . master && git push heroku heroku:master && get checkout master

[2015-03-30 06:05] isaacg1 commented on #46
Fair enough, I didn't realise their were required to be in root.

[2015-03-30 14:08] orlp commented on #52
Solved by https://github.com/isaacg1/pyth/commit/e2b51f1e1ab23363cfa35e25620587320bb6d2a9.

[2015-03-30 14:08] #52 closed

[2015-03-30 14:35] orlp commented on #53
Actually, `sys.exit` is better so I can catch it in the test code. Instead, we should change `#` to only catch exceptions deriving from `StandardError`.

I'm doing this in a future pull request - don't bother right now.

[2015-03-30 14:35] #53 closed

[2015-03-30 15:46] isaacg1 commented on #51
I'm thinking we leave out `/` for now, have `%` apply to the real part and the imaginary part separately. We also want the `phase`, `polar`, `.real`, `.imag`, and `conjugate` methods.

[2015-03-30 16:04] jakobkogler commented on #51
`.jab` is quite lengthy. I'm not sure how often you would need complex numbers and in which ways you need it.

The only time I would have enjoyed complex number was in this golfing contest: [Magnetic Sculptures… in Space!](http://codegolf.stackexchange.com/a/45121/29577). Here I only needed the complex number `0 + 1j`, twice. So here I would really like a 0-arity command. `.jZ1.jZ1` are 8 chars, `

[2015-03-30 16:07] isaacg1 commented on #51
Another alternative would be to set up the default values of `.j` so that `.j)` = `0 + 1j`

[2015-03-30 21:15] Maltysen commented on #46
If we're making branches, how bout a branch for the cheese shop. Right now I am setting bash aliases to avoid having to navigate to the correct folder, but we should provide a command line script to put on pypi. Here is a tutorial on that: http://www.scotttorborg.com/python-packaging/command-line-scripts.html. I would do it myself, but you should be the one to register it. The name ``pyth`` is tak

[2015-03-31 00:14] orlp commented on #46
What is a cheese shop?

[2015-03-31 00:28] Maltysen commented on #46
Oh thats the monty-python-referential name for [Pypi](https://pypi.python.org/pypi). Look at the conversation at the bottom. ;P

[2015-04-02 16:45] orlp opened #56 "Enumerate is not implemented."
The function `Penumerate` simply does not have the functionality implemented for enumerate.

[2015-04-02 16:57] orlp commented on #56
https://github.com/isaacg1/pyth/pull/57

[2015-04-02 16:59] isaacg1 commented on #56
Thanks for point this out. The functionality was accidentally removed in this commit: https://github.com/isaacg1/pyth/commit/fe6588e7b124560bd373e2b3c7d6207ae203d960
And has been restored.

[2015-04-02 16:59] #56 closed

[2015-04-03 07:45] orlp opened #59 "Make .z and .Q autoinitializing variables."
You can't ever sanely use `.z` or `.Q` twice, so it would be better if they were autoinitializing variables.

It's important that `z` and `Q`, if used, are initialized before `.z` and `.Q`, and if `.z` and `.Q` are both used they should both refer to the same data, only `.Q` would be `eval`'d.

[2015-04-03 10:48] orlp opened #60 "Add sliced assign."
I propose `.X` of arity 4, a function similar to `X` that assigns to a slice instead.

Roughly, `.Xabcd` is `a[b:c] = d`, with the extensions `X` supports for strings, tuples, but not dicts. I'd also suggest that if `len(d) < c - b` then `d` will repeat until it is long enough.

So if `c - b == 10` and `d == [0, 1, 2, 3]` then `d` will be extended to `[0, 1, 2, 3, 0, 1, 2, 3, 0, 1]`.

---

_Altern

[2015-04-03 11:00] orlp commented on #60
Eureka! We can add my latter proposal as an overload for `:`. We can't add it to `X` because it collides with the 'translation' functionality. I will work on a pull request.

[2015-04-03 11:20] orlp commented on #60
All right, I think I have the behavior down - I still need to find a way to concisely write it in the docs. This is the behaviour:

    # There is no nice ABC for this check.
    if hasattr(a, "__getitem__") and is_col(b):
        if is_col(c):
            c = itertools.cycle(c)
        else:
            c = itertools.repeat(c)

        if isinstance(a, str) or isinstance(a, tuple):
            in

[2015-04-03 11:22] orlp commented on #60
`<idx><col><any>` assigns to a the repeated elements in c to the indices given in b and returns a.

Doesn't sound too great.

[2015-04-03 12:17] orlp commented on #60
After some more thought, my second proposal doesn't quite fill the same role as slice assignment. With slice assignment you can assign shorter and longer sequences to a range, you can't do that with the new proposal.

So we might consider adding both `.X` arity 4 for slice assignment, and the new overload for `:` as well.

[2015-04-03 12:33] orlp commented on #60
:<idx><col><any> is indexed substitution. For every index in b an element is taken from c (cycling when exhausted), and assigned to a at that index.

Much better.

[2015-04-03 18:00] orlp opened #62 "Distance function?"
What are your thoughts on adding a function of arity two that computes the distance between two points?

    def dist(a, b):
        return math.sqrt((a[0] - b[0]) ** 2 + (a[1] - b[1]) ** 2)

[2015-04-03 20:36] Maltysen commented on #62
You don't need an explicit distance function. `abs(aj+b)` is enough once we add complex numbers.

[2015-04-03 20:39] orlp commented on #62
That's a good point.

[2015-04-03 20:39] #62 closed

[2015-04-04 15:50] jakobkogler commented on #46
I wrote some tests today and I'm not really happy about the current testing system.

The main problem I encountered is, that Pyth programs doesn't always return the same output. For instance when you use sets, dicts, random numbers, shuffle, ...

[2015-04-04 16:15] orlp commented on #46
@jakobkogler The random output can be solved by re-seeding with a known seed before every test case. Alternatively you could set up a different set of tests that will be run with a plethora of different (but constant) seeds to prevent getting 'lucky'.

As for sets/dicts, perhaps we should change `Pprint` to always print them ordered?

[2015-04-07 08:11] orlp opened #65 "Add a better hash function."
The built-in `hash` kind of sucks, we should probably build a better hash function for `.h`.

[2015-04-07 19:37] isaacg1 commented on #65
Any particular complaints?

[2015-04-07 19:38] #60 closed

[2015-04-07 19:41] isaacg1 commented on #59
There's a bunch of places in the code that assume variables are one character, so this might take a while.

[2015-04-07 19:49] orlp commented on #65
@isaacg1 The hash function is very weak (has many collisions) and is not constant between executions. For example this program has a different output if run multiple times:

    .h\0

[2015-04-07 19:52] orlp commented on #59
@isaacg1 As a temporary solution could we at least make calling `all_input` and `eval_all_input` return the same value everytime, caching the result after the first call?

[2015-04-07 19:55] isaacg1 commented on #59
Sounds quite reasonable.

[2015-04-07 19:56] orlp commented on #59
I'll do it - writing commits ATM anyway.

[2015-04-07 19:56] orlp commented on #59
Woops, shouldn't close as it will only be temporarily solved.

[2015-04-08 00:40] isaacg1 commented on #49
Alright, I've implemented this. It was actually quite simple. I'm going to push it, and update the release number to 4.0

[2015-04-08 00:40] #49 closed

[2015-04-08 01:03] Maltysen commented on #65
SHA is a good idea, but the simple return type of an int in the default hash was good, so we should implement that. Also, to get around all the `not hashable` and make it general we can apply sha to the `.__repr__` of the object.

[2015-04-08 01:12] orlp commented on #65
@Maltysen  I disagree with the simple return on int. You're only hashing ints in Pyth if you want to uniformly distribute them.

[2015-04-08 01:14] isaacg1 commented on #65
I'm not sure if this is what Maltysen meant, but I like returning ints from `.h`, as opposed to a string.

[2015-04-08 01:21] orlp commented on #65
@isaacg1 I definitely think `.h` should return int, I thought @Maltysen was talking about the fact that for integers the default Python hash is the identity function.

[2015-04-08 02:22] Maltysen commented on #65
I did mean what @isaacg1 was saying and agree that it being an identity for ints is useless.

[2015-04-09 11:46] willsherwood commented on #65
How is the identity function for hashes on ints useless for int hashing?

-------- Original message --------
From: Maltysen <notifications@github.com>
Date:04/07/2015  9:22 PM  (GMT-06:00)
To: isaacg1/pyth <pyth@noreply.github.com>
Cc:
Subject: Re: [pyth] Add a better hash function. (#65)

I did mean what @isaacg1 was saying and agree that it being an identity for ints is useless.

—
Reply to this

[2015-04-09 11:51] orlp commented on #65
@willsherwood  I expect the output of a hash to be uniform over its output range regardless of the distribution of input. Identity on integers does not preserve this expectation.

[2015-04-13 19:08] orlp commented on #65
I've implemented a better hash function. Since hash functions in Pyth won't be used to compare elements for equality or build data structures I've made the decision to group different types:

- `bool` and `int`
- `str`
- `tuple`, `list`, `set`, `dict`

`bool` gets transformed to `0`/`1`. `set` is hashed as if it's an ordered sequence, `dict` is hashed as if it's an ordered sequence of `(key, value

[2015-04-13 19:31] orlp opened #72 "Turn number into range when passed into F."
Right now it's a syntax error to do `FN6N`. This could easily be allowed.

I already have a live pull request, so I can't make another one right now without mixing the two issues. This is a very simple issue to solve. Change the `F` entry in `c_to_s` to:

    'F': (('for ', ' in num_to_range(', '):'), 2),

And in macros.py add:

    # If argument is a number, turn it into a range.
    def num_to_r

[2015-04-14 15:41] jakobkogler opened #73 "String ending with a point screws up Q"
Title says it all. Take a look at this code.

    @"abc."Q

It compiles down to

    Pprint("\n",lookup("abc.",Q=copy()))

I guess there's something wrong with the parsing of the new two-letter commands (`.a`, `.b`, ...)

[2015-04-14 16:21] orlp commented on #73
The bug lies in `prepend_parse`, I believe.

[2015-04-15 02:32] isaacg1 commented on #73
Fixed.

[2015-04-15 02:32] #73 closed

[2015-04-15 09:50] jakobkogler opened #74 "Get rid of `0x` and `0b`"
`.b` or `.H` are quite handy, but they return the number with the nasty prefix. (E.g. `.b5` returns `0b101`). Any reason why these prefixes are used? In golfing prefixes are usually unwanted.

[2015-04-15 09:51] isaacg1 commented on #74
Well, @orlp was the one who thought they should be used. Orlp, what was the reasoning behind that?

[2015-04-15 13:09] isaacg1 opened #75 "Pyth needs a guide for new users"
It's time to write a guide for people who want to learn how to use Pyth.

Topics:

* Basics

 * Setting up Pyth

 * Literals

     * Numbers

     * Strings

 * Functions

     * Arity

 * Variables

* Advanced

 * Reading the Docs

 * Statements

 * Lambda functions

 * `.`

 * Autoinitializers

 * Reading error output

Anything else people think should be in there? Should not be in there?

[2015-04-15 15:50] orlp commented on #74
@isaacg1 I don't recall advocating for or against the prefixes. I'd be ok with them being removed.

[2015-04-15 16:55] isaacg1 commented on #74
Sorry about that, then. I must have misremembered. I'll make the change.

[2015-04-15 17:02] #74 closed

[2015-04-15 19:25] jakobkogler commented on #75
- Lists (also mention tuples, dict and set, but not in depth)
 - Flow Control Statements (Loops and If/Else)

 - Functional programming (I guess that's what you mean by Lambda functions)

 - Preassigned variables

Rename Autoinitializers into Reading from STDIN

`.` shouldn't be an own chapter. Mentioning it during functions suffices.

[2015-04-15 20:31] #65 closed

[2015-04-15 20:34] orlp opened #76 "Purge tuples from Pyth."
I think we should purge tuples entirely from Pyth. They hold no advantage over lists in a golfing language.

Probably the easiest way to do this is to make sure no operation in Pyth ever produces a tuple, and if it does to turn to turn it into a list.

We will have to turn lists into tuples where required (e.g. dictionary keys), but we already had to do that anyway.

This also frees up `(`, maybe

[2015-04-15 20:36] orlp opened #77 "Add a rational type."
I think a rational type is long overdue in Pyth. It would require a lot of work to implement it properly with everything, and would require a few support functions, just like complex numbers.

We might be able to share design decisions / functions used with complex numbers.

[2015-04-15 20:37] orlp commented on #75
@jakobkogler  There are other autoinitializers than just STDIN, for example `JK`.

[2015-04-15 23:11] isaacg1 commented on #75
Lambda functions means `m`, `f`, `u`, `o`, `.e`

[2015-04-15 23:22] isaacg1 commented on #77
https://docs.python.org/3.1/library/fractions.html

This is the documentation involved.

[2015-04-16 23:08] Maltysen commented on #75
I actually was writing this before, didn't get that far in and don't have `.`, but it should suffice as a new users guide. Have a look at it. I'm using sphinx. https://drive.google.com/file/d/0B0qkKIzGc0QicWxKVzdjcUxDSGc/view?usp=sharing

Use the command `sphinx build html` to build. We would put it up on readthedocs enventually.

[2015-04-17 02:41] isaacg1 commented on #75
@Maltysen This is great! If it's alright with you I'll start with this, then add more stuff in, spell check, etc. then incorporate it into the repo.

[2015-04-17 13:50] Maltysen commented on #76
Note that we will then have to do tuple -> list on `v` when used for input because `a,b` without the parens is a valid format for tuples but not for lists and that is a common input format.

[2015-04-17 17:43] jakobkogler opened #79 "Bug in base_10"
In the first line of `base_10(a, b)` the check `instance(a, int)` should be corrected to `instance(b, int)`.

     if isinstance(a, str) and isinstance(a, int):
        return int(a, b)

[2015-04-17 17:45] isaacg1 commented on #79
Fixed.

[2015-04-17 17:45] #79 closed

[2015-04-21 07:14] isaacg1 commented on #51
Implemented.

[2015-04-21 07:14] #51 closed

[2015-04-22 11:44] isaacg1 commented on #75
Implemented. Comments/additions are welcome.

[2015-04-22 11:44] #75 closed

[2015-04-22 11:47] isaacg1 commented on #75
Currently it's just a tutorial, but I'll be adding the documentation element to it as well over time.

[2015-04-25 17:41] orlp opened #83 "Rename reduce to Preduce."
We better keep naming consistent.

[2015-04-25 21:24] jakobkogler opened #84 "Show code-length immediatly (Online Compiler)"
This bugged me for quite a while.

When follow a link to the Pyth Compiler/Executer (e.g. [this link][0]), the code length shows `0`. Only when you manipulate the code, the code length gets updated to the correct length.

 [0]: https://pyth.herokuapp.com/?code=Ksm%3E%2B0jCd16_2zJ%3F%2ChKeKQmxFdCcK2%3DKsmmxFkC%2CdJc%3FtPKQK2smCid16c%3FKQ%2B%2BhJKeJ2&input=G0lf%0A0&debug=0

[2015-04-25 21:35] orlp commented on #84
While we're talking about the online interpreter, could the textbox please use a fixed-width font?

[2015-04-25 23:05] gcq commented on #84
The fixed-width issue is one line of CSS away: `font-family: monospace;`
That should use the default monospaced font of the current system. I can PR if you want.

[2015-04-25 23:13] #72 closed

[2015-04-26 17:15] #84 closed

[2015-04-26 17:16] #46 closed

[2015-04-26 18:58] isaacg1 commented on #83
The naming is consistent. The `P` prefix is used for functions that would otherwise have the same name as a Python 3 function. Reduce is not in Python 3.

[2015-04-26 18:58] #83 closed

[2015-04-27 12:01] orlp opened #87 "Make assignment an expression."
This would be wildly useful. My proposal would be that `=` assigns something to a variable, and then returns the new value.

It would require some hacking, so for example this:

    =Y...

Would have to be turned into:

    assign("Y", ...)

And we'll probably have to do some funky stuff with `locals()`/`globals()`. But it's definitely possible.

Note that we must make an exception for augmented a

[2015-04-27 13:29] isaacg1 commented on #87
This sounds good. However, to implement this I'll need a character combination which corresponds to the `assign` function.  I'll make that `.~`.

[2015-04-27 13:30] orlp commented on #87
@isaacg1  I don't understand, why not use `=` for assign?

[2015-04-27 13:31] isaacg1 commented on #87
`=` is the sugared assign. `.~` takes a string and updates its entry in globals and locals.

[2015-04-27 13:33] isaacg1 commented on #87
Question: should `=` print by default? I'm guessing no.

[2015-04-27 13:34] orlp commented on #87
@isaacg1  I don't see the need for `.~` in this. You can just make this entry in `c_to_i`, no?

    '=':  (('assign(\'', '\', ', ')'), 2),

[2015-04-27 13:35] orlp commented on #87
@isaacg1  Indeed, `=` at block scope should not print IMO.

[2015-04-27 13:37] isaacg1 commented on #87
That won't convert the first argument to a string.

[2015-04-27 13:37] orlp commented on #87
@isaacg1 Yes it will, notice the `\'`s.

[2015-04-27 13:38] isaacg1 commented on #87
Hm. Hadn't considered that possibility. It should work.

[2015-04-27 13:41] isaacg1 commented on #87
I tried implementing this, and assigning to globals() inside assign isn't working - the program ignores the change. However, assigning to globals() inside the pyth itself works fine. I'm not sure what to do. Is there some way to get a reference to the local environment of the pyth expression itself?

[2015-04-27 13:45] orlp commented on #87
@isaacg1 Make a new dictionary called "variables". Pre-load it with the values that Pyth supports (`k`, `d`, `Z`, etc). Then instead of using `exec` to execute the Pyth use `exec(..., variables)`.

[2015-04-27 13:46] isaacg1 commented on #87
Ah - so then modifying `variables` updates the appropriate variable?

[2015-04-27 13:46] orlp commented on #87
@isaacg1  I presume so.

I just realized `variables` must also contain every function called from within Pyth.

[2015-04-27 13:47] isaacg1 commented on #87
That's ugly, but it might work.

[2015-04-27 13:48] orlp commented on #87
@isaacg1  You might also initialize `variables` by doing `variables.update(globals())`, if I'm not mistaken. But that's kinda hacky, and in the long run manually inserting things into variables is probably cleaner.

[2015-04-27 13:50] isaacg1 commented on #87
Yeah, building `environment` manually is a reasonably solution. I'd call it environment over variables if it's going to have all sorts of functions in it too.

[2015-04-27 13:50] orlp commented on #87
@isaacg1 Fair enough. This should also be able to harden the online security, if I'm not mistaken.

[2015-04-27 13:52] isaacg1 commented on #87
It probably would. I'll look into this.

[2015-04-27 13:59] isaacg1 commented on #87
I've tested out the variables system in mini-scale, and it works, so I'm going to start implementing it.

[2015-04-27 15:32] isaacg1 commented on #87
Implemented.

[2015-04-27 15:32] #87 closed

[2015-04-28 22:17] jakobkogler opened #88 "memorized is broken"
Neither `L`, `M` nor `.N` works. Probably because of the recent changes with the assign opperator. The following error occurs:

    Traceback (most recent call last):
      File "pyth.py", line 498, in <module>
        exec(py_code_line, environment)
      File "<string>", line 1, in <module>
    NameError: name 'memoized' is not defined

[2015-04-28 22:26] orlp opened #89 "Leading zeroes in number constants could be split up."
There is never a valid reason in Pyth to write either `023`, `0042` or `0.23` to my knowledge.

So my suggestion is that `023` could be the same as `0\n23`. Often you can use `Z` to alleviate this, but something you use `Z` for something else. This is just a very minor thing though.

An argument against this is that it might be confusing, and if we're ever going to dynamically allow compiling stri

[2015-04-29 00:23] isaacg1 commented on #88
Fixed.

[2015-04-29 00:23] #88 closed

[2015-04-29 00:25] isaacg1 commented on #89
Good idea. I'll implement this.

[2015-04-29 00:35] isaacg1 commented on #89
Implemented.

[2015-04-29 00:35] #89 closed

[2015-05-06 21:48] isaacg1 commented on #59
Now that we can assign things inline, these don't really need to be variables - `J.zJ` is the same length as `.z.z` would be.

[2015-05-06 21:48] #59 closed

[2015-05-07 15:16] jakobkogler opened #93 "Bringing rle back"
When the rle (run length encoding) function was added to Pyth, I was not really in favor of it. Because I didn't see any usecases.

But I the last time, quite a few answers to challenges on PPCG would have benefited by rle. Like [Identify card half](http://codegolf.stackexchange.com/questions/49747/identify-card-half) or [Road-Length Encoding](http://codegolf.stackexchange.com/questions/49307/road

[2015-05-07 16:36] isaacg1 commented on #93
Yeah, I was noticing that too. I was thinking of adding this to `r`'s processing library, but making `r` work on all collection types. `r_8` and `r_9` for the pair of them.

[2015-05-08 22:12] isaacg1 commented on #93
Completed.

[2015-05-08 22:12] #93 closed

[2015-05-10 20:43] willsherwood opened #95 "Add debug code to output before code is run (online compiler)"
while debugging code, it is useful to have the python code printed to the output before the program runs. If the program hangs, it's very hard to debug because the code is never shown.

[2015-05-10 20:47] jakobkogler commented on #95
I'll guess you mean the Online Compiler, since offline compiler already does this. Not sure, if this is easy to implement.

Maybe the online compiler could simple terminate after running for 5 seconds and return the result, as far as it is computed. This would also prevent the server from crashing.

[2015-05-10 21:21] willsherwood commented on #95
Yes, this is only an issue for people using the pyth online compiler for example on their phones

[2015-05-10 22:17] jakobkogler opened #96 "Sorted Partitions"
Because of [this PPCG question](http://codegolf.stackexchange.com/questions/49943/maximum-concatenated-product#49943).

How about a function, that returns all partitions of a string? By partition I mean the following:

    Partitions("abc") = [["a", "b", "c"], ["ab", "c"], ["abc"], ["a", "bc"]]

So the elements should stay in order. It simply splits the string in all possible ways. Is there a spec

[2015-05-10 22:33] isaacg1 commented on #96
Seems like a reasonable thing to add. I'm not sure about the last one, what should happen when called on numbers. Another reasonable alternative is the integer partition function: https://en.wikipedia.org/wiki/Partition_%28number_theory%29

[2015-05-11 01:04] gcq commented on #95
There is a very easy linux-only way to do the timeout using the [signal](https://docs.python.org/3.4/library/signal.html) module in the standard library. I don't think threads can be avoided if it has to be multiplataform.

[2015-05-12 00:04] orlp opened #97 "Augmented assignment order should be flipped."
Now that assignment is an expression the following isn't unambiguous anymore:

    +=ZT1

This could mean "Assign T to Z and return Z + 1", or it could mean "Add T to Z and print 1".

I'd suggest that we swap the ordering for augmented assignment:

    =+ZT1

There is only one interpretation possible for this - `Z += T; print(1)`.

[2015-05-12 00:09] orlp opened #98 ".q docs are out of date."
Look at the current docs for `.q`:

    sys.exit(0). Exits the program immediately, except within #, where it breaks but does not exit.

It's outdated, since `.q` has been fixed with https://github.com/isaacg1/pyth/issues/53.

[2015-05-12 00:59] isaacg1 commented on #97
This is a good idea. Also, I'd like to restructure how syntactic sugar works. I'm going to move it from `data.py` to `pyth.py`.

[2015-05-12 01:02] isaacg1 commented on #97
One edge case is that to continue to allow tuple assignment, we should not apply the sugaring to `,`.

[2015-05-12 01:58] isaacg1 commented on #98
Fixed.

[2015-05-12 01:58] #98 closed

[2015-05-12 08:51] orlp opened #99 "Repurpose .f."
I don't think there's a valid use of `.f` right now. If you need true division we already have  `c`, and otherwise there is no point in making a number a float. If you for some reason really need a float it's often best to just add a `.0` at some constant, or in the worst case `+_.0`, which is only one character longer than `.f`.

Instead I propose `.f` to be of arity two, with first argument a la

[2015-05-12 09:19] orlp opened #100 "Integer to range for argument to .p, .P."
Just like everywhere else, if an integer is given as an argument to `.p` or `.P` it should turn it into a range.

[2015-05-12 14:47] isaacg1 commented on #99
I'm fine with getting rid of the current `.f`. However, I would really like it if instead of just printing out these numbers, they could be post-processed somehow. Maybe make an infinite iterator?

[2015-05-12 14:47] isaacg1 commented on #100
Seems good to me.

[2015-05-12 17:57] orlp commented on #99
@isaacg1 See the first bullet point of my proposal.

[2015-05-12 19:28] jakobkogler commented on #99
I'm not really fond of this idea. Maybe returning the first b numbers, or
only the bth number, that satisfies a(T)=True would be better.
On May 12, 2015 7:57 PM, "Orson Peters" <notifications@github.com> wrote:

[2015-05-12 20:09] isaacg1 commented on #99
I think there's two good ideas here that should be separate. One is a better way to do infinite loops than `#`. One way to to this is as you mentioned.

The other thing that Pyth should have is something like "the first n numbers which satisfy", as jakob mentioned.

I'm in favor of making these two separate statements, something like `.V`, which would be an infinite for loop similar to `V`, and `.

[2015-05-13 17:01] orlp opened #101 "Change default lambda parameters of `.e`."
I have one problem with `.e`: it by default uses `Y`. This is annoying, because some golfs can actually be made a bit shorter if I can enumerate and append to `Y`.

[2015-05-13 20:06] jakobkogler opened #102 "Assigning variables in Defs"
Just take a look at this: ([permalink](https://pyth.herokuapp.com/?code=DeGJ1~J1RJ%3Be1&debug=1))

    DeGJ1~J1RJ;e1

This gives a `UnboundLocalError: local variable 'J' referenced before assignment`. But strangely it works for the following example: ([permalink](https://pyth.herokuapp.com/?code=DeGJ1%2B%3DJ1RJ%3Be1&debug=1))

    DeGJ1+=J1RJ;e1

[2015-05-13 20:12] jakobkogler opened #103 "debug=1 Perma-Links"
Clicking on the Permalink-Button, while debug was activated, ended up in a link like: `https://pyth.herokuapp.com/?...&debug=1`. Nowadays the `&debug=1` is missing.

The `&debug=0` is still being appended, although it has no effect at all.

[2015-05-14 01:34] Maltysen commented on #103
Yeah, the default was changed from yes debug to no debug, and the permalink doesn't add the debug flag if it is at *what used to be* the default, but now it changed. Should be an easy fix.

[2015-05-14 01:36] isaacg1 commented on #102
`~` doen't really work in the new system. The simple fix is to make it an alias for `+=`.

[2015-05-14 05:51] isaacg1 commented on #103
Fixed.

[2015-05-14 05:51] #103 closed

[2015-05-14 06:04] isaacg1 commented on #102
Fixed. (Not online yet.)

[2015-05-14 06:04] #102 closed

[2015-05-14 06:08] isaacg1 commented on #101
Do you think `Z` or `b` would work better? I don't want it to be any of `dTNGH`.

[2015-05-14 06:14] isaacg1 commented on #100
Fixed.

[2015-05-14 06:14] #100 closed

[2015-05-14 08:03] isaacg1 commented on #99
I've implemented my ideas of `.f` and `.V`. You should tell me what you think of them, and whether they fufil your ideas.

[2015-05-14 08:46] orlp commented on #101
`b`, although I think `N` would be better.

[2015-05-14 08:49] orlp commented on #99
@isaacg1 Order of parameters of `.f` should be swapped, the starting value should be the last value, and default to 1.

[2015-05-14 08:51] orlp commented on #99
Also, I don't know how you're supposed to use `.V` to implement what I originally proposed.

[2015-05-14 09:21] isaacg1 commented on #97
Implemented.

[2015-05-14 09:21] #97 closed

[2015-05-14 09:24] isaacg1 commented on #99
Well, it works for the two examples you mentioned. I agree it doesn't cover the number, next number thing, but I don't see that being incredibly useful - you could just use `h`. For the simple cases, you just use `I` within `.F`. Switched order does sound good, though.

[2015-05-14 09:38] isaacg1 commented on #96
Are you still planning on implementing this, or should I?

[2015-05-14 09:58] jakobkogler commented on #96
Sorry for the delay, I will implement it right now.

[2015-05-14 09:59] isaacg1 commented on #96
No worries, take your time.

[2015-05-14 10:05] isaacg1 commented on #101
I was leaning away from `N` because it's already used in both `V` and `o`. `b` isn't used in as much, in comparison.

[2015-05-14 10:18] orlp commented on #99
@isaacg1 I'm not seeing it - could you post a full example program using `.V` that prints all the primes?

[2015-05-14 10:21] isaacg1 commented on #99
`.V2I!tPbb`

[2015-05-14 11:09] orlp commented on #99
Ok, I understand now - I thought `.V` would be a __function__, returning an iterator, but's a block level thing.

[2015-05-14 11:12] isaacg1 commented on #99
Hm - that's an idea, we could do that too, maybe with `.v`. We'd have to add new methods to some of the functions for manipulating iterators, but it could be done.

[2015-05-14 11:14] orlp commented on #99
I don't think it's a good idea, I was just explaining my confusion - iterators don't really fit in any portion of Pyth.

[2015-05-14 11:15] isaacg1 commented on #99
OK, I get it. Iterators could be done, but they're way off down the road, if it at all. They would only exist for manipulating infinite sequuences, of course.

[2015-05-14 11:16] orlp commented on #99
I think generators is actually the proper word for them.

[2015-05-14 11:16] isaacg1 commented on #99
Right.

[2015-05-14 11:28] jakobkogler commented on #96
Can be closed now. Implemented in #104

[2015-05-14 11:29] #96 closed

[2015-05-14 14:45] willsherwood opened #105 ".c for two integers"
.c for two integers could be the combinations formula, nCr: n!/r!(n-r)!

[2015-05-14 14:58] orlp commented on #105
I love it.

Where do we put nPr?

[2015-05-14 15:04] orlp commented on #105
Hmm, I was thinking that maybe we should have the factorial somewhere as well. We can't put it in `.p` however, because `.p3` -> `[[0, 1, 2], [0, 2, 1], [1, 0, 2], [1, 2, 0], [2, 0, 1], [2, 1, 0]]`.

[2015-05-14 21:27] jakobkogler commented on #105
Yeah, we definitely need a shorter factorial. `*Fr1hQ` is just too long. I would suggest either `.*` or `.x`.

The first one `.*` (unpack) has absolutely no use at all. It can always be replaced by `F` or `.u`.  At least until were upgrading to Python 3.5, where something like `[1 2.*U3 4)` might be possible. And I'm not sure, if this would save any bytes at all, since you could also do `s[Y1 2U3

[2015-05-14 21:46] orlp commented on #105
`.x` came before `*F` and is now indeed obsolete. The seeding can indeed be moved, but not to `O_` - we need to find a different place for it.

I'm not too excited by the idea of having nCr and nPr under the same function - I think we have perfect candidates as-is with `.c` and `.P`.

[2015-05-14 22:01] #99 closed

[2015-05-14 22:25] isaacg1 commented on #105
I agree with removing `.x` and `.*`, and with adding nCr and nPr. I would prefer putting them under `.c` and `.P` than making new functions for them.

[2015-05-15 08:19] isaacg1 commented on #95
One way to implement this without threads is with a command line flag to set the timeout, that would be enabled in the online versions.

[2015-05-15 09:34] #101 closed

[2015-05-15 18:49] orlp opened #108 "Remove useless functions."
Making a separate issue for this. Right now we have a couple culprits:

 - `.*` seems to be useless, you always use `.u`.
 - `.x` is partially useless. We should move the seeding function to somewhere else.
 - `.=` is useless since https://github.com/isaacg1/pyth/issues/97.

I don't have a great idea of where to put the seeding of `.x`. I think we should rename `.u` to `.*` however.

[2015-05-15 18:52] orlp commented on #105
Made a separate issue for the useless functions: https://github.com/isaacg1/pyth/issues/108 .

[2015-05-15 19:50] isaacg1 commented on #108
How about putting `.x` seeding into `S` - `S` has no function on ints, and it's mnemonic.

[2015-05-15 19:53] isaacg1 commented on #108
Or `O` on negative inputs?

[2015-05-15 19:55] isaacg1 commented on #105
Merged.

[2015-05-15 19:55] #105 closed

[2015-05-15 19:56] orlp commented on #108
@isaacg1 I'm not certain about the negative input to `O`, but __definitely not__ `S`. That instruction is way too valuable to waste on seeding.

[2015-05-15 19:57] isaacg1 commented on #108
OK, I like O on negative inputs, because we're already breaking up `O` on ints between positive results, which are used as ranges, and 0, which is used to get a random float between 0 and 1.

[2015-05-15 19:59] orlp commented on #108
Negative sound good, but I do suggest that `O_1` becomes `random.seed(1)`, not `random.seed(-1)`.

[2015-05-15 19:59] isaacg1 commented on #108
Agreed.

[2015-05-15 20:03] isaacg1 commented on #108
What should the return value be? The input? 0?

[2015-05-15 20:10] orlp commented on #108
@isaacg1 Hrm, whatever it is, I don't want it autoprinted, I think.

[2015-05-15 20:11] isaacg1 commented on #108
Unfortunately, if we go with `O`, autoprinting is unavoidable. Autoprinting doesn't seem the inputs to the function. To avoid autoprinting, we should select a different function.

[2015-05-15 20:13] orlp commented on #108
@isaacg1 No, we could make `O_1` return `None`, and disable printing of anything that returns `None` at the top level.

At least, I don't think Pyth uses `None` anywhere, but if it's a valid value we can also create a custom type, `DoNotPrint` or something.

[2015-05-15 20:14] isaacg1 commented on #108
Hm. Yes, that seems like a good solution. I forgot that we could just change `Pprint`.

[2015-05-15 20:27] orlp commented on #108
@isaacg1 `None` or a custom `DoNotPrint` type? I personally `None`.

[2015-05-15 20:29] isaacg1 commented on #108
None. I can't think of a good reason to print None, even if it is currently possible, which I'm not sure of.

[2015-05-15 20:29] isaacg1 commented on #108
Implemented.

[2015-05-15 20:29] #108 closed

[2015-05-15 20:31] orlp commented on #108
@isaacg1

:(

[2015-05-15 20:33] orlp opened #109 "Docs inconsistently use _ and a, b, c, etc."
Sometimes we use `a` (and `b`, `c`) and sometimes we use `_`. We should be consistent.

[2015-05-15 20:33] isaacg1 commented on #108
Sorry about that - I'd mostly already done it all before I even started commenting.

[2015-05-15 21:34] orlp opened #111 "Pyth 5"
I'm working on [a clean-sheet rewrite of Pyth](https://github.com/orlp/pyth5) (calling it Pyth 5 for now). Things I'm working on are:

 - A totally rewritten interpreter that uses a cleaner lexer/parser/codegen seperation. This should make maintaining easier.
 - Proper binary and UTF-8 source support - regular strings are UTF-8, binary strings like `."az"` get turned into arrays of bytes: `[97, 12

[2015-05-16 00:08] Maltysen commented on #111
This this seems really cool. I just disagree in the `A`, its pretty useful and saved me a char quite a few times with expanding the input into two vars. Im also concerned about the tuples leaving only because of being able to splat the input into `U`. Everything else seems fine.

[2015-05-16 00:18] kirbyfan64 commented on #111
Can't `,` still be used be used for tuples? I just used it recently to save 2 chars.

[2015-05-16 00:22] Maltysen commented on #111
@kirbyfan64 I think that will then be instead used to create a two element list instead.

[2015-05-16 00:25] jakobkogler commented on #111
Pretty much agreeing with most of your points.

Just a few thoughts:

 - A feature I really want is a shorter map notation. Currently a map is of the form `mf(d)Q`. I want to remove the `m`. The following syntax may be quite handy: `@Y$Q` (map each index `$` in `Q` to their element in `Y`, currently `m@YdQ`), `v$cz` (evaluate each `$` in `z.split()`, `^$2Q` (square each `$` in `Q`).  Notice, this

[2015-05-16 00:27] orlp commented on #111
@Maltysen @kirbyfan64

The plan is to purge tuples __entirely__, so `,` would indeed be a two element `list`.

[2015-05-16 00:44] orlp commented on #111
@jakobkogler

I definitely do not like removing `dict`s entirely. `gmpy2` would strictly be an implementation __optional__ detail optimization - if you don't have it install you'll only lose some performance, nothing else.

My plans for rationals are a bit bigger. I'm actually thinking about having just __one__ 'real' number type. It would be stored as a rational, and printed like a decimal number

[2015-05-16 03:14] isaacg1 commented on #111
This seems really awesome.

On the subject of removing all tuples, one (small) advantage that tuples currently have is that They can be easily appended/prepended to lists. e.g. `+[1 2)(1 2` = `[1, 2, (1, 2)]`, whereas `+[1 2)[1 2)` = `[1, 2, 1, 2]`. We should make sure there's a way to do prepend and append with lists.

[2015-05-16 04:32] Maltysen opened #112 "Other Syntax Sugar"
One point brought up on the [discussion for Pyth 5](https://github.com/isaacg1/pyth/issues/111) was the need for other syntax sugars, especially map. These are my thoughts right now on them, would like everyone's opinion:

- For Map we can use `A` for "apply" and take a unary, this allows a lot of things
- For Filter we have `#` cuz it kind of looks like filter ;). It doesn't seem that helpful, bu

[2015-05-16 07:37] jakobkogler commented on #111
Appening with `a`, prepending with `+`. Does work already.
On May 16, 2015 5:14 AM, "isaacg1" <notifications@github.com> wrote:

[2015-05-16 08:23] isaacg1 commented on #111
@jakobkogler You can't prepend a list to a list, currently. `+,1 2]1` = `[(1, 2), 1]`, but `+[1 2)]1` = `[1, 2, 1]`.

[2015-05-16 08:30] isaacg1 commented on #112
I'd like a test to see if a function leaves its input unchanged. Suppose this was `$`. `$SY` whould check if `Y` was already sorted. `$/Y2` would check if `Y` is unchanged by division by 2, i.e. if `Y` is `0` or `-1`. `$_Y` would check if `Y` is palindromic.

Perhaps just a apply repeatedly command? `R5yY` would double `Y` 5 times, that sort of thing.

[2015-05-16 11:09] jakobkogler commented on #111
How about implicit for-loop variable? `FYN` instead of `FNYN`.

[2015-05-16 11:13] isaacg1 commented on #111
Actually, we could do that in Pyth as is. We'd just have to switch `V<seq>` to iterate over the sequence instead of its range.

[2015-05-19 13:48] jakobkogler opened #113 "Better input parsing"
A bunch of golfing challenges give the input in a really stupid format like `1,2,abc` or `1 2 3`. It would be nice if there's a method that splits and evaluates them into `[1, 2, "abc"]` and `[1, 2, 3]`. Or even let `Q` and `.Q` do the work.

[2015-05-19 22:23] Ypnypn commented on #113
There's already rQ7, which splits by whitespace and evaluates.

[2015-05-19 22:33] jakobkogler commented on #113
@Ypnypn O.k. This takes care of the `1 2 3` input format.
But the other example I posted is still really painful to parse.

[2015-05-22 16:26] orlp commented on #111
@isaacg1 I have some design considerations I'd like to discuss. I also invited you (and others are welcome of course) to a [Pyth 5 stackexchange chat room](http://chat.stackexchange.com/rooms/24013/pyth5).

A couple of points:

 - PEP8, do we really want to adhere to the 79 column width? It can get annoying.
 - I'd prefer it if we'd turn Pyth into a proper module. A great writeup what that would i

[2015-05-22 16:33] kirbyfan64 commented on #111
You could always use setuptools and run `python3 setup.py develop`. That's what I usually do.

[2015-05-22 16:34] orlp commented on #111
@kirbyfan64 That's equivalent, but `pip3` has the advantage that you can uninstall using `sudo pip3 uninstall pyth`.

[2015-05-22 16:40] kirbyfan64 commented on #111
@orlp But, if you're developing it, you probably don't want to uninstall it anyway!

[2015-05-23 01:20] isaacg1 opened #114 "Unnecessary characters"
`A`: Equivalent to `=,`
`]`: Equivalent to `[ ... )`.
`s`: Primarily equivalent to `+F`.
`~`: Equivalent to `=+`.

[2015-05-23 02:00] orlp commented on #114
I disagree with `]` - it's very useful and it will be more so with tuple's future removal.
I disagree even more strongly with `s` - it's ubiquitous, used in nearly every golf, often multiple times. I definitely do not want that to be a two-character code.

I'm on the fence about `~`, I think we should have a very good candidate to replace it with before considering to remove it.

I don't care abou

[2015-05-23 02:17] orlp opened #115 "Better infinities and abs."
This is a feature available in Pyth 5, but we might want to backport for the time being.

Four overloads:

- `+)` -> `float('inf')`
- `-)` -> `-float('inf')`
- `+Z)` -> `abs(Z)`
- `-Z)` -> `-abs(Z)`

This mean we can also remove infinity from the list of mathematical constants `.n`, and remove `.a`.

[2015-05-23 03:00] orlp commented on #111
I need everyone's opinion on these two issues:

 - https://github.com/orlp/pyth5/issues/1
 - https://github.com/orlp/pyth5/issues/2

If you're interested in Pyth 5 I suggest you follow the repository so I can get more rapid feedback :)

[2015-05-23 23:27] jakobkogler commented on #112
`V` for vectorization. I think this is a really important one.

    +V[1 2 3)[4 5 6)   => [5 7 9)
    +V[1 2 3)4   => [5 6 7)
    @Vz[1 3 1)   => [@z1@z3@z1)
    eV[10 123 ]4)   => [0 3 4)

    ...

[2015-05-24 15:13] Maltysen commented on #112
@jakobkogler maybe take it all the way and make it work on `N` dimensions?

[2015-05-25 12:09] jakobkogler opened #116 "Parsing error because of `M`"
The new map operator `M` (see commit 618186026093fe12953ac69b305375c79d2d36da)  causes some problems. See for instance [here][1]. Right now I have no time for debugging. But the code works, if you checkout commit ff515ab6839d3dbfbe575d895c91727d0b146b40.

 [1]: https://pyth.herokuapp.com/?code=M%3FsmcgtGd8fq5sm%5E-Fk2C%2CTH%5EUhQ2G1g%40Q1%3EQ2&input=8%2C1%2C2%2C0&debug=1

[2015-05-25 16:42] isaacg1 commented on #116
Fixed. There was a tiny typo leading to `wM` being intepreted as a use of the `M` operator instead of the `M` statement.

[2015-05-25 16:42] #116 closed

[2015-05-25 20:37] orlp opened #117 "Bug with newline and list."
Trailing newline after list appends an empty tuple: https://pyth.herokuapp.com/?code=%5B%0A&debug=1 .

I'd say this is a bug.

[2015-05-25 20:39] orlp commented on #117
It gets even weirder. Guess what this prints:

    [
    )1

[2015-05-25 20:50] orlp commented on #117
Fixed with https://github.com/isaacg1/pyth/commit/4d86d27afd230ed24f5153389d5f59eeb8dd5485 .

[2015-05-26 03:40] #117 closed

[2015-05-26 03:42] isaacg1 commented on #115
I added some other things to `.a` specifically vector length, so I'm going to keep it around. The other uses don't seem common enough to warrant this, so I'll leave it out for now.

[2015-05-26 03:42] #115 closed

[2015-05-27 05:48] isaacg1 commented on #112
@jakobkogler
I've added as much of `V` as I can to Pyth - `M`, `R`, `V`.

[2015-05-29 21:01] Maltysen opened #118 "Quine Function"
The quine function was rejected earlier, but now, with so many open characters/overloads available, want to try again? Or was it the cheapness of it that made us not do it?

[2015-05-29 21:20] isaacg1 commented on #118
What exactly would this function do?

[2015-05-29 21:30] kirbyfan64 commented on #118
Print the program's source code!

[2015-05-29 21:35] Maltysen commented on #118
Well i would return it: https://github.com/isaacg1/pyth/pull/19

[2015-05-29 21:39] orlp commented on #118
I'm not sure whether I like this. On one hand it can be used to shorten some golfs, but on the other hand on most of these golfs it's against the rules, and if it's not, it feels cheap.

[2015-05-29 22:36] isaacg1 commented on #118
One option would be to make a function which, given a string, returns that string, twice, with a `"` in the middle. If it was `.J`, a quine would be `.J".J`

[2015-05-30 10:51] orlp commented on #118
@isaacg1 That sounds incredibly obscure and cheaty. I wouldn't feel comfortable using it in any code golf, because I think it goes against the spirit of code golf.

[2015-05-30 21:58] isaacg1 commented on #118
@orlp  Follows the letter but not the spirit, eh? Alright, I'm going to close this. I don't think there's a non-cheating way to do this well.

[2015-05-30 21:58] #118 closed

[2015-06-03 06:17] isaacg1 commented on #76
This has been implemented, for the most part. `(` still exists, and `v` can still return tuples, but almost everything is lists now.

[2015-06-03 06:17] #76 closed

[2015-06-29 16:57] jakobkogler opened #126 "Implicit variables for `F` and `A`"
I don't see why we need the `N` in `FNQ`. It could be implicit, like maps. And perhaps use different variables for nested loops.

Similar `A` is really long. There's almost always a shorter version. Why not simply use implicit variables? `AQ` instead of `AGHQ`.

[2015-07-04 20:50] isaacg1 commented on #126
Implemented - `V` is what you requested for `F`, and `A` is implemented as requested.

[2015-07-04 20:50] #126 closed

[2015-07-06 00:50] #114 closed

[2015-07-06 00:50] #112 closed

[2015-07-14 08:15] isaacg1 opened #128 "Empty input issue on website"
The code `z` with the empty input crashes the online compiler. I believe this should be fixed by adding a trailing newline to input, which will make it mimic the STDIN normally received.

[2015-07-14 08:36] #128 closed

[2015-07-21 14:43] kirbyfan64 opened #130 "Each-pair"
Each-pair is basically `zip(a, a[1:])`. It's a feature from K I find it very, very, very useful.

[2015-07-21 14:47] jakobkogler commented on #130
This is already implemented: `.:a2`.

Kinda long though. Quite often vectorization is shorter: `+Vata`.

[2015-07-22 03:48] #130 closed

[2015-07-24 20:09] winny- opened #131 "What is arity X, S, and |?"
I'm not sure if there is a better place to ask general questions about Pyth, so I'm creating an issue.

I noticed in the `doc.txt` there isn't any discussion about what arities X, S, and | mean. Is there documentation elsewhere that discusses these arities?

[2015-07-24 20:17] isaacg1 commented on #131
There isn't any documentation for those, thanks for pointing it out. I'll add the documentation to `doc.txt`.
`X` means exceptional, it means that the character doesn't fit in the arity system. `S` means statement, because statements can have bodies of any length. `I` means infinite, or in other words unbounded. `|` isn't used. Please note that that part of the documentation may be somewhat incons

[2015-07-24 20:17] #131 closed

[2015-07-24 20:24] Maltysen opened #132 "Newline is redundant"
The newline is meant to allow separation that does not suppress input by forcing print outside of a expression. Like `3\n4`. However, the new `p`rint function makes this redundant because it *always* forces a print. So the above is equivalent to `3p4`.

Any ideas what to do with newline?

[2015-07-24 20:34] jakobkogler commented on #132
It allows creating strings with newlines in it. Instead of `"a\nb"`, you
can write `"a<newline>b"`. Saves on byte. But it's not used very often.
On Jul 24, 2015 10:24 PM, "Maltysen" <notifications@github.com> wrote:

[2015-07-24 20:35] Maltysen commented on #132
@jakobkogler Even if we change newline to be something else, that would still work since its inside a string. I'm talking about its use as an operator.

[2015-07-24 20:41] isaacg1 commented on #132
Those aren't actually equivalent - one has a trailing newline, the other doesn't.
Compare: https://pyth.herokuapp.com/?code=3%0A4%5Ca&debug=0 and https://pyth.herokuapp.com/?code=3p4%5Ca&debug=0
That being said, we could probably find something more useful for it.

[2015-07-25 21:13] winny- opened #133 ".R (round) with float second argument yields inconsistencies"
Hi, not sure if this is intended behavior or not. What I understood from the doc.txt is that .R with a float as arg b results in basically: `round(a, get_precision(b))`:

[code]

A quick and dirty fix: https://gist.github.com/winny-/8c13daeafd6850e0ac6d I think you can also do this using the decimal module.

Other discussion: http://chat.stackexchange.com/transcript/message/23007352#23007352

Comp

[2015-07-27 19:56] jakobkogler commented on #133
@winny- Thanks for the bug report and the code.

Didn't use the code though, since there was an easier fix. Only had to change the condition `b < 15` to `round_len < 15`.

[2015-07-27 20:38] winny- commented on #133
:+1: Made my day! Enjoy some cake :cake:!

[2015-07-27 21:15] Ypnypn opened #135 "Flags"
I have this rough idea for adding flags to Pyth.

Let's say 1 is "all string comparison is ignore-case"; 2  is "suppress printing by default"; 4 is "printing is space-separated."

To use multiple flags, add them up, and put the sum at the beginning of the code.

So `5lots of pyth code` applies flags 1 and 4.

This shouldn't cause problems, because it's otherwise rare to start a program with a numb

[2015-07-27 23:54] #133 closed

[2015-07-27 23:55] isaacg1 commented on #135
Why not use the command line for the flags? They're counted the same in code golf.

[2015-07-28 14:43] orlp commented on #135
This is implemented in Pyth5 as meta-commands. However, I don't like to make 'useful' flags that alter behavior - I want to reserve it for development / debugging only. As such, the only meta-command implemented in Pyth5 is `;# end`, which makes Pyth ignore the rest of the file (except later meta-commands).

[2015-07-29 01:13] MechaLynx opened #137 "Tutorial uses `.x`, but it doesn't reflect the current version."
The way `.x` works has changed from when the tutorial was written and I can't find a way to create equivalent code in the current version. `.x` used to be `product()` but now is `try-except`.

[2015-07-29 02:32] orlp commented on #137
@MechaLynx We realized the old `.x` was unnecessary, because folding multiplication (`*F`) does the same thing.

[2015-07-29 12:04] MechaLynx commented on #137
Is there a plan to change the character set any further in the near future? I'm asking so I know if it's practical to fix the docs now, as I go through the tutorial, or wait for changes, if there are any planned.

[2015-07-29 12:37] isaacg1 commented on #137
There aren't any plans to do so, but backwards incompatible changes are made fairly often.

[2015-07-29 12:40] MechaLynx commented on #137
That's fine. I'm not very experienced with Python though, so some cases are probably outside my reach to fix (like the `.x` one) - should I just leave the text as it is wherever I can't fix it and link to an issue or just add a note in italics indicating this no longer works?

[2015-07-29 12:41] isaacg1 commented on #137
Noting that it no longer works is fine, if you need to.

[2015-07-29 12:48] isaacg1 commented on #137
Alright, I fixed the example to use `.!`, the factorial function. Thanks for your help keeping the docs up to date.

[2015-07-29 12:48] #137 closed

[2015-08-13 17:50] kirbyfan64 opened #140 "Application error"
pyth.herokuapp.com is down. It's giving me an "Application error".

[2015-08-13 18:04] kirbyfan64 commented on #140
Well, now it's back up. :/

[2015-08-13 19:41] isaacg1 commented on #140
Well, if this happens again, it might be serious, but for now I'll just close this.

[2015-08-13 19:41] #140 closed

[2015-08-14 00:19] Tyilo opened #141 "Non-ascii single-byte characters"
Normally in codegolf your program is ranked by its number of bytes, so it would make sense to make all 256 different byte values have different meaning.
Currently all pyth tokens are in the printable ascii-range (`0x20-0x7e`), but I think we should consider adding functionality to characters out of this range, especially in the range `0x80-0xff`.

Maybe we could just transform `0x80 + x` to `"." +

[2015-08-14 01:04] isaacg1 commented on #141
I really don't like this system. Easy printability is more important than those extra couple of bytes.

[2015-08-14 01:16] orlp commented on #141
A core concept of a programming language is that it's programmable by humans. As soon as you introduce non-printable characters I'd argue that aspect is lost or severely reduced.

In Pyth5 you can still have arbitrary binary __data__ in binary strings (`.""`). But that's __data__, not __code__.

[2015-08-29 07:12] isaacg1 commented on #109
I don't think this matters very much.

[2015-08-29 07:12] #109 closed

[2015-08-29 07:13] isaacg1 commented on #132
Without any ideas for what to do on newline, I'm closing this.

[2015-08-29 07:13] #132 closed

[2015-08-29 07:13] #141 closed

[2015-08-29 07:14] isaacg1 commented on #135
This doesn't seem incredibly useful.

[2015-08-29 07:14] #135 closed

[2015-09-09 05:47] orlp opened #149 "Print debug info on stderr."
Sometimes I want to pipe output into a file, but I still have debug mode on. Printing debug output on stderr is the proper way to solve this.

[2015-09-12 03:48] orlp opened #150 "Documentation of .[ is wrong."
For example it says:

    On <any><int><seq> pad left.

Which is just flat out wrong.

[2015-09-13 17:13] isaacg1 commented on #150
Fixed by #151

[2015-09-14 16:46] isaacg1 commented on #149
Fixed by 7668e0c323410293d083ce0d3e62d68d8512dc7c

[2015-09-14 16:46] #149 closed

[2015-09-15 17:45] iAmMortos opened #152 "*= producing error"
Following your documentation, I ran the code, `K1FNr1hQ*=KN;K` which is supposed to print the factorial of the user's input.
This produces the error:
`Traceback (most recent call last):`
`  File "pyth.py", line 636, in <module>`
`  File "<string>", line 6, in <module>`
`TypeError: times() missing 1 required positional argument: 'b'`

The given example `K1FNr1hQ=K*KN;K` works perfectly, but condens

[2015-09-15 17:47] kirbyfan64 commented on #152
Try `=*KN`.

[2015-09-15 17:47] isaacg1 commented on #152
A while ago, we switched from the `*=` format to the `=*` format. I'll update the docs.

[2015-09-15 17:53] iAmMortos commented on #152
Jolly good. Thanks

[2015-09-15 17:53] #152 closed

[2015-09-16 21:27] jakobkogler opened #153 "Regex substitution fails online."
[`:"aa1b2c3den4""(\w)\d""\\1"`][1] doesn't run in the online compiler. Offline works.

  [1]: http://pyth.herokuapp.com/?code=%3A%22aa1b2c3den4%22%22%28w%29d%22%22\\\\1%22&debug=1

[2015-09-17 00:45] isaacg1 commented on #153
The issue seems to be associated with any use of `\` in a regex substitution in safe mode. The errors can be reproduced offline with the `-s` flag.

[2015-09-17 01:00] curiousdannii opened #154 "Regex matches"
It would be nice if it was possible to match regexs and extract groups from them.

As a syntax suggestion, what if `:<str><str><falsey>` was regex testing as it is now, and `:<str><str><truthy>` was matching.

---

From [PPCG chat](http://chat.stackexchange.com/transcript/message/24149481#24149481):

A list of matches would be helpful I'm sure, but it would get confusing if there was also groups w

[2015-09-24 07:29] isaacg1 opened #155 "Assigning to Lambda Variables"
Assigning to lambda variables doesn't work properly.

`m,=d1dU4d`

outputs

`[[1, 0], [1, 1], [1, 2], [1, 3]]`
`1`

It appears the assignment happens at the global scope, but the lambda function can't see this global scope.

[2015-09-24 08:44] isaacg1 commented on #155
Fixed by 0100c1f95628c47c0a25d1165a66f591fbe5fb60, but watch out for bugs.

[2015-09-24 09:13] orlp commented on #150
No, no, no, no!

I just realized that Jakob fixed the entirely wrong thing. The reference implementation was good, the documentation was wrong!

Consider the current (wrong) documentation:

That is incredibly, incredibly inconsistent. The order of <seq> and <any> is inconsistent, and the place of the integer does not match where the padding will occur. I propose the following:

[2015-09-24 09:25] jakobkogler commented on #150
@orlp With your notation you can't distinguish pad right from pad left and right, when `<any>` is also from type `<int>`.

My main idea was the following:
  - `<seq>` on the left means, that `<seq>` stays on the left, so padding happens on the right.
 - `<seq>` in the middle means, that it stays in the middle => padding left and right.
 - `<seq>` on the right, stay on the right => padding happens

[2015-09-24 09:29] jakobkogler commented on #150
And if you don't rotate the parameters, you get problems with `<any> = <seq>`.

The main reason I changed the behavior instead of the documentation was to make the documentation easier. The behavior was correct for `<any> = <int>`, but worked differently for `<any> = <string>`. The documentation would have been twice as long and more complicated.

[2015-09-24 09:31] orlp commented on #150
I apologize, I totally forgot about distinguishing `<any> = <seq>`

[2015-09-24 09:31] #150 closed

[2015-09-24 16:41] isaacg1 commented on #155
There would bugs, the above commit was reverted. This issue remains.

[2015-10-07 18:13] isaacg1 opened #156 "Ideas for improvement"
This will be a thread for ideas for improvement of pyth:

Pyth eval/exec (not in safe mode)
Remove sets, make operations explicit.
bitwise operations
setwise operations
bagwise operations
operation on one location in a list. Like X, but an arbitrary operation.

[2015-10-07 18:24] kirbyfan64 opened #157 "' doesn't work in the online interpreter"
https://pyth.herokuapp.com/?code=%27%22https%3A%2F%2Fwww.google.com%2F&debug=0

Code:

[code]

Output:

[code]

[2015-10-08 16:59] Maltysen commented on #157
This is the same problem as in the regexp function - dynamic imports are disallowed in safe mode, and both `re` and `urllib` use them. I'm not really sure why they are disallowed though, since we also have full-eval, and super-quote disabled.

[2015-10-08 17:00] Maltysen commented on #156
Why not pyth eval in safe mode? Also, what are bags?

[2015-10-08 17:05] isaacg1 commented on #156
@Maltysen bags are like sets with multiplicity. `.-` uses them.
Pyth eval in safe mode should work, now that I think of it.

[2015-10-08 17:06] Maltysen commented on #156
so like `collections.Counter`?

[2015-10-08 17:16] isaacg1 commented on #157
The reason imports are sidabled in safemode is to guard against accidental security breaches. There are two lines of defence: first, we eliminate the obvious means of running arbitrary python code, and second, we try to ensure that if arbitrary python code is executed, security doesn't fall.

A past bug in string escaping allowed arbitrary python code execution without full eval or super-quote, so

[2015-10-08 17:17] kirbyfan64 commented on #157
@isaacg1 You could always override the `__import__` function to only allow importing certain files and throw an error for anything else.

[2015-10-08 18:07] isaacg1 commented on #156
I haven't used that one, but it sounds about right. One difference is that bags usually don't allow negative counts, however.

[2015-10-09 16:23] kirbyfan64 opened #158 "Online web site gives an "Internal Server Error" when the given link ends with a parenthesis"
https://pyth.herokuapp.com/?code=&debug=0 is ok. If I add a parenthesis to the end (resulting in https://pyth.herokuapp.com/?code=&debug=0( or `https://pyth.herokuapp.com/?code=&debug=0)`), I get:

[code]

Although it seems odd, this is easy to do by accident when pasting links from Markdown.

[2015-10-09 19:56] Maltysen commented on #158
Well this occurs because the server runs `int(debug)`, which clearly won't work on `0(`.

[2015-10-09 22:05] isaacg1 commented on #154
Implemented. https://github.com/isaacg1/pyth/commit/3573e7b9d0b7122726e01d36ffd1f5546108bb5f

Leaving this thread open for more ideas for further operations.

[2015-10-28 15:46] isaacg1 commented on #158
As far as I can tell, this is really a problem, and not worth fixing. Paste a bad link, get an error page.

[2015-10-28 15:46] #158 closed

[2015-11-16 11:53] adrian17 opened #163 "Docs and examples don't match new behavior of ?"
Since e72b4a424, `?` has the condition first. But current [docs](https://github.com/isaacg1/pyth/blob/master/docs/simple-programs2.rst) still use its old behavior.

[2015-11-21 20:28] isaacg1 commented on #163
Fixed.

[2015-11-21 20:28] #163 closed

[2015-12-02 12:44] Pwntheon opened #164 "Missing help on lambdas/map functions in documentation"
I've been trying to learn Pyth, and so far i've completed a couple of golfing challenges. However i've arrived at a place where i can't seem to progress because i (think i) need to use map and/or lambda and i can't figure out how.

So i have this list of numbers in an array, representing stock prices over time. I need to find the maximum profit you can make by buying at one point and selling at a

[2015-12-02 14:58] kirbyfan64 commented on #164
Have you tried using the debug mode? It prints the Python code that Pyth generates; I personally find it really helpful.

The docs say for `m`:

That means that `map`'s works just like in Python, but the lambda is implicit; it takes an argument `d`. The `->`s are for if you have nested maps; the outermost will take `d`, the next will take `k`, etc.

For instance, this:

[code]

is compiled to:

[c

[2015-12-02 15:00] Pwntheon commented on #164
Thank you kirby, i will try to use the debug mode. I assume that doesn't work in the online implementation?

[2015-12-02 15:00] kirbyfan64 commented on #164
It sure does! Just check the `Debug on?` check box.

[2015-12-02 15:02] Pwntheon commented on #164
Ah, didn't see that initially. Thanks a lot. Now onwards to learn Python :)

[2015-12-02 15:45] isaacg1 commented on #164
Also, check out https://pyth.readthedocs.org for more of a tutorial.

[2015-12-02 15:45] #164 closed

[2015-12-28 11:03] Pietu1998 commented on #95
When testing programs that seem to hang one can now (since 99838ee14d2b64692edac60c5952bcfabcffc0e0) add `.q` to the start of the program. I would like to see a timeout function, though.

[2015-12-29 05:24] Maltysen commented on #95
A fix for this, that covers much more, is to use web sockets to do real time communication from the server to the client. However, this is very involved.

[2016-01-10 21:09] JuanPotato opened #170 "Add ceiling function"
I suggest `.C  <num>`

[2016-01-10 22:30] isaacg1 commented on #170
Seems like a good thing to add, but .C is taken

[2016-01-10 22:39] kirbyfan64 commented on #170
What about `.E` from c**E**il, which could be overloaded to take an integer value, or `.L` from cei**L**, which isn't even used yet.

[2016-01-10 22:48] niwhsa9 commented on #170
I don't know if it's taken, but how about ".r^" without the quotes. Like
round up...

On Sunday, January 10, 2016, Ryan Gonzalez <notifications@github.com> wrote:

--
*Ashwin*

[2016-01-10 22:49] isaacg1 commented on #170
.E sounds good to me

[2016-01-11 21:17] benstopics opened #171 "Golfed way to remove empty lists in multidimensional list"

[2016-01-11 21:18] isaacg1 commented on #171
What about `fT`?

[2016-01-11 21:24] isaacg1 commented on #171
If that's not what you're looking for, can you give a test case?

[2016-01-11 21:26] benstopics commented on #171
[[],[],[],[],[],[1],[],[]] => [1]

[2016-01-11 21:32] isaacg1 commented on #171
In that case, try `s` or `.n`, the two flatten functions.

[2016-01-11 21:34] benstopics commented on #171
Nice! Thanks. New to Pyth, but great language.

[2016-01-11 23:49] #171 closed

[2016-01-14 03:54] benstopics opened #172 "Eval Leading Zero Error"
`literal_eval` does not evaluate numbers with leading zeros.

ex. => `v"08"`
yields => `Traceback (most recent call last):
  File "pyth.py", line 683, in <module>
  File "<string>", line 3, in <module>
  File "/app/.heroku/python/lib/python3.4/ast.py", line 46, in literal_eval
  File "/app/.heroku/python/lib/python3.4/ast.py", line 35, in parse
  File "<unknown>", line 1
    08
     ^
SyntaxError:

[2016-01-14 04:04] isaacg1 commented on #172
This is true, so? It's intended behavior.

[2016-01-14 04:08] benstopics commented on #172
I don't understand how this is helpful. If the string is clearly all digits, why would you use a leading zero to prevent the string from being invalidated? You would use some other character.

[2016-01-14 04:10] isaacg1 commented on #172
So you want `v` to work like `s` on strings of digits? Sounds reasonable.

[2016-01-14 04:25] benstopics commented on #172
I would like to golf Project Euler challenges and #11 provides a 20x20 grid of numbers all two digits (the single digit values having a leading zero). It was easy to just regex remove the leading digits, but I think it would look cleaner with having to use regex. If this shouldn't be a behavior of `r<str>7`, then maybe a new mode would be helpful, even `r<str>-7`. I'm not sure if using negative nu

[2016-01-14 04:46] isaacg1 commented on #172
I see the point. Yeah, that's probably worth changing. Will do.

[2016-01-15 00:16] raumaankidwai opened #173 "Backslashes and : function"
The backslash doesn't seem to cope well with string replacements using the : function. The bug is shown here: https://pyth.herokuapp.com/?code=%22%5C%5Chi%22%0A%3A+%22%5C%5Chi%22+%22h%22+%22i%22%0A%3A+%22%5C%5Chi%22+%22%5C%5C%22+%22i%22&debug=0

The full error message is:

[code]

[2016-01-15 00:36] kirbyfan64 commented on #173
Try `\\\\`.

[2016-01-15 03:13] niwhsa9 commented on #173
Hey sorry to ask this Isacc, I think pyth is super cool and I really like
it which is why I'm following it. But I don't really want to get all the
emails with the bugs and stuff since its showing  up and giving
notifications all the time. Is there some way I can turn off the
notifications without unfollowing the project?

On Thursday, January 14, 2016, Ryan Gonzalez <notifications@github.com>
wrot

[2016-01-15 03:39] isaacg1 commented on #173
Sorry, I don't know github well enough.

[2016-01-15 12:15] raumaankidwai commented on #173
@kirbyfan64 Thanks for the workaround, but the bug still stands.

[2016-01-16 02:39] niwhsa9 commented on #173
That's okay thanks. I'll figure it out I'm sure there is a way.

On Friday, January 15, 2016, Raumaan Kidwai <notifications@github.com>
wrote:

--
*Ashwin*

[2016-01-22 13:36] vendethiel opened #174 ""J and K don't need equals sign""
From the [tutorial](https://pyth.readthedocs.org/en/latest/simple-programs.html)

It seems in practice, it's only true on the first assignment, and that confused me. It's said in the docs, but the tutorial might want to be updated on that particular point?

Thanks!

[2016-01-22 16:04] #173 closed

[2016-01-22 16:06] isaacg1 commented on #173
This is not a bug - this is just how Python's regex package works. You need to have two layers of escaping - one for Pyth, one for regex.

[2016-01-22 16:06] isaacg1 commented on #172
Fixed.

[2016-01-22 16:06] #172 closed

[2016-01-22 19:58] vendethiel commented on #173
Btw, you can change it in your github settings (you'll have to login once more). Just go to notifications, and uncheck the email boxes (IIRC).

PS: started learning Pyth today, loving it already :D. Not quite as powerful as J or APL, but great for its golfing niche.

[2016-01-25 15:48] Tenchi2xh opened #175 "Tutorial uses old else notation"
In the [tutorial](https://github.com/isaacg1/pyth/blob/master/docs/simple-programs2.rst#collatz-sequence), the example uses the old notation for if-then-else: `I` and `E` instead of `I` and `.?`

[2016-01-25 17:20] vendethiel commented on #175
Yep, I just got bit by this :/

[2016-01-29 10:50] vendethiel commented on #175
The link [here](https://pyth.readthedocs.org/en/latest/docs.html) ("the documentation is on github") is broken as well.

[2016-01-29 11:08] isaacg1 commented on #175
Both have been fixed, thanks.

[2016-01-29 11:09] isaacg1 commented on #174
Fixed.

[2016-01-29 11:09] #174 closed

[2016-01-29 11:48] vendethiel commented on #175
Thanks! :+1: Learning Pyth has been far easier than one would guess upfront.

[2016-01-29 11:49] isaacg1 commented on #175
I'm really glad!

[2016-02-04 12:40] vendethiel opened #176 "Readthedocs typo 3.1.4"

[2016-02-04 13:01] vendethiel opened #177 "Cannot define a function `,`"
stuff like `D,ZT` compiles to bogus code instead.

[2016-02-04 15:36] kirbyfan64 commented on #176
For later reference purposes, the typo is defin**ie**d vs defin**e**d. Took me a bit to figure that out...

[2016-02-04 16:16] vendethiel commented on #176
sorry!

[2016-02-07 21:48] vendethiel commented on #175
not fixed, btw:

[2016-02-09 15:31] vendethiel commented on #175
This page: https://pyth.readthedocs.org/en/latest/spec_control.html
uses `100.T`, which it seems used to be equivalent to `100.0` then `T`.
It doesn't seem to be anymore, and thus is parsed `100` then `.T`.

[2016-02-09 18:21] isaacg1 commented on #175
Fixed, both.

[2016-02-09 18:21] #175 closed

[2016-02-09 18:26] isaacg1 commented on #177
This behavior is necessary for `A` to work properly. Status-by-design, at least for now.

[2016-02-09 18:26] #177 closed

[2016-02-09 18:28] isaacg1 commented on #176
Fixed.

[2016-02-09 18:28] #176 closed

[2016-02-09 18:37] vendethiel commented on #175
Cool, thanks! :)

[2016-02-12 14:16] vendethiel opened #178 "builtin "product"? (F <pfn> missing from docs)"
we have "s" as sum, but product is very useful as well. it'd be nice to have a builtin for it?

[2016-02-12 14:17] vendethiel opened #179 ""u" seems to hang"
trying to compile this code:

[code]

hangs on pyth.herokuapp

[2016-02-12 14:33] jakobkogler commented on #179
That's not a bug. There are two version of `u`. One where you provide a list to iterate over and a starting value:

    u+GH[1 2 3)0

and one, where you only provide a starting value. In this case `H` iterates over `0, 1, 2, ...` until infinity. In this case `u` stops, when the lambda expression computes a values, that it computed earlier.

In your code you invoced the second case. `G` will get th

[2016-02-12 14:39] jakobkogler commented on #178
You can do `*F[2 3 5`. This is already really short.

This obvioulsy doesn't handly the special case of an empty product.

[2016-02-12 14:39] vendethiel commented on #179
makes sense, thanks. I still think it's a bug that the runtime is not bounded.

[2016-02-12 14:46] vendethiel commented on #178
This might be missing in the docs, no? I don't see a `F <pfn>`?

[2016-02-12 15:14] isaacg1 commented on #178
Correct, it is missing in the docs. Will fix.

[2016-02-12 15:18] vendethiel commented on #178
Thanks you :heart:

[2016-02-12 15:18] isaacg1 commented on #179
@vendethiel One major use case for the unbounded runtime is that it allows you to make interactive programs, by using functions like `w` and `E`.

[2016-02-12 15:18] #179 closed

[2016-02-12 15:18] vendethiel commented on #179
oh, okay, fair enough :). Thanks!

[2016-02-12 15:34] isaacg1 commented on #178
Fixed.

[2016-02-12 15:34] #178 closed

[2016-02-12 16:00] vendethiel commented on #179
@isaacg1 maybe I can then request a "compile only" button? So I can realize the generated code, and why it hangs

[2016-02-14 00:47] JJ-Atkinson commented on #175
@vendethiel I just got bit as well ;) See here: https://pyth.readthedocs.org/en/latest/spec_control.html#e-the-else-statement
![image](https://cloud.githubusercontent.com/assets/16200906/13030996/44fa0818-d282-11e5-8af9-12df1557a132.PNG)

[2016-02-18 12:22] vendethiel commented on #156
Could `.e` be made to work with a `pfn`? a simple example `j+.eG`

[2016-02-20 19:58] Maltysen commented on #179
@vendethiel The solution to that is not a compile only button, but real time feedback, if I ever get around to it… D:

[2016-02-20 23:31] syrrim opened #181 "Inclusive range doesn't provide decrementing values"
`}`, the inclusive range function, should continue to work when A > B. In this case, it would provide [A, A-1, ... B+1, B]. This would put in line with `r`, the half inclusive range function.

[2016-02-22 09:45] jakobkogler opened #182 "`>` and `<` broken?"
I'm speaking of the case `> number string` and `< number string`.

It works as expected, if the length of the string is bigger than the number. E.g. `>3G` gives `xyz`, the last 3 chars. But whenever this is not the case, than weird effects are happening. E.g. `>4"xyz` gives `z`. The last four chars of `"xyz"` are `"z"`.

The reason is, that the implementation of `>AB` translates to `B[len(B)-A:]`,

[2016-03-05 14:23] muddyfish commented on #181
Added a  [pull request](https://github.com/isaacg1/pyth/pull/183) with this functionality.

[2016-03-07 03:57] isaacg1 commented on #181
Merged.

[2016-03-07 03:57] #181 closed

[2016-03-11 07:52] jakobkogler commented on #156
http://codegolf.stackexchange.com/questions/75335

It's really hard to split a sequence into pieces by a specific criterion.
Not really sure how a good solution should look like.
But a "split list by indices" function would be a good start. Like `xG[1 5` should give `["a", "bcde", "fgh..."]`

[2016-03-11 08:02] isaacg1 commented on #156
@jakobkogler That is the existing functionality of `c`. See here: https://pyth.herokuapp.com/?code=cG%5B1+5&debug=0

[2016-03-11 08:06] jakobkogler commented on #156
Oh, right.

2016-03-11 9:02 GMT+01:00 isaacg1 <notifications@github.com>:

[2016-03-31 20:24] vendethiel opened #184 "add min/max?"
not sure what's left for them...

I guess like `eS`/`hS`? (probably not worth it in retrospect, since those are 2)

[2016-04-01 05:50] isaacg1 commented on #184
hS and eS are intended to substitute for min and max.

[2016-04-01 05:50] #184 closed

[2016-04-01 05:51] isaacg1 commented on #170
implemented.

[2016-04-01 05:51] #170 closed

[2016-04-01 05:51] isaacg1 commented on #157
Not worth fixing, but I would accept a pull request that fixed this.

[2016-04-01 05:51] #157 closed

[2016-04-01 05:52] isaacg1 commented on #153
Not worth fixing, but I would accept a pull request that fixed this.

[2016-04-01 05:52] #153 closed

[2016-04-01 05:52] isaacg1 commented on #77
I'm not planning on doing this.

[2016-04-01 05:52] #77 closed

[2016-04-01 05:52] #154 closed

[2016-04-01 18:13] Maltysen commented on #77
I already had the code for it btw, remember. It was a combination of fraction and decimal.

[2016-04-01 18:17] Maltysen commented on #184
how about a min/max with two args? it takes three right now `eS,`/`hS,` which has consistently been annoying.

[2016-04-03 16:56] kckennylau opened #185 "Feature request (regex)"
- `a*` matches **0** or more instances of `a`.
- `a+` matches **1** or more instances of `a`.
- should we have a character that matches **2** or more instances of `a`?

[2016-04-03 16:58] Maltysen commented on #185
uhhh, we use the python `re` module for this, so I'm not sure we can do much with this. Also `{2,}` does what you want.

[2016-04-03 16:59] kckennylau commented on #185
Well, thanks for your quick reply. Maybe you could translate the regex, so that `\S#` (for exmaple) becomes `\S\S+`.

[2016-04-05 06:35] andersk opened #186 "Can’t safely put NUL or CR bytes inside a double-quoted string"
Inside a double-quoted string, Pyth translates CR (`\r`) to LF (`\n`). NUL bytes (`\000`) seem to work unless followed by a digit 0–7, because Pyth translates them to `\0` instead of `\000`.

[code]

[2016-04-05 07:02] isaacg1 commented on #186
I've fixed the null byte issue, but the CR issue seems to be introduced by Python. I'll need to investigate more for that one.

[2016-04-05 07:25] isaacg1 commented on #185
`\S{2,}` is the same as `\S\S+`.

That being said, Pyth's regexes are exactly the same as Python's, and this is not a good place for asking for advice on using Python regexes.

[2016-04-05 07:25] #185 closed

[2016-04-05 07:33] isaacg1 opened #187 "Rearranging orders of operations to put potential input last"
I'd like to accumulate a list of all functions that we should swap the order of operations on to allow the use of implicit `Q` more often. Starting list:

* `@<col><int>`
* `c<str><str>`
* `i<col><int>`
* `j<col><int>`
* `r<str><int>`
* `.:<col><int>`
* `.x<any><any>`
* `.c`, `.C`, `.P`

I'm not sure about these:

* `x<col><col>`
* `X`

[2016-04-05 13:46] Maltysen commented on #187
This is actually a good reason to *keep* the lambdas ones the way they are now instead of switching them like we were planning. Maybe keep some like `m` and switch `f`.

[2016-04-05 15:08] isaacg1 commented on #187
I'd much prefer that they all go the same way, for learnability.

[2016-04-05 17:38] andersk commented on #186
If you replace `open(file_or_string, encoding='iso-8859-1')` with `open(file_or_string, encoding='iso-8859-1', newline='')`, then Python will stop translating `\r` and `\r\n` to `\n`. Of course, you may then need to teach Pyth to keep accepting `\r` and `\r\n` in various other places where newlines are significant, to keep Mac and Windows users happy.

[2016-04-05 18:03] vendethiel commented on #186
`\r` hasn't been used on Mac for a while now

[2016-04-06 12:04] FliiFe commented on #156
Maybe a string compression algorithm for golfs (.Z actually outputs something longer for short strings. For example, it outputs a 23 byte length string for a 11 bytes long string). I'm thinking about something like `smaz` ([see this](https://github.com/CordySmith/PySmaz))

[2016-04-06 13:56] jakobkogler commented on #156
@FliiFe Yeah, `.Z` is pretty bad. Don't think anybody ever used it.
But there is `."`, which compresses strings quite well.

[2016-04-08 13:51] FliiFe commented on #156
Also, An issue I often come across, is that I can't find the list() constructor. And even `cQk` throws an error. The shortest I have found is `:Q"."1`

[2016-04-08 14:04] isaacg1 commented on #156
It looks like you're trying to convert a string to a list of characters. A couple of ways to do this are cQ1, which chops the string into pieces of length 1, and mdQ.

[2016-04-08 14:06] FliiFe commented on #156
Oh, didn't think about them. Thanks! Another thing I've been thinking of, is a variable with default value `1`

[2016-04-09 08:59] kckennylau opened #189 "[Feature request] de-memo-ize"
Could you add a command somewhere that can define a function without memo-ization? Sometimes memo-ization can produce huge problems.

[2016-04-14 00:23] Maltysen commented on #187
This isn't "switching" them per-say, but I feel like the default value on `q` should be removed or moved to something else after implicit `Q` has been added, since I find myself wanting to compare with the input fairly often.

[2016-04-14 00:26] isaacg1 commented on #187
That's a good point, I'll change that now. This is a good place to accumulate additional examples like that one.

[2016-04-14 00:29] Maltysen opened #190 "Implicit Input Inside Lambdas"
The implicit `Q` is really nice, but I feel that inside lambdas like `m` it really isn't appropriate. For example, `mhs{*MyP`. This will take implicit input from `Q`, but it is very rare that I would want the `P` to also take from `Q`.

So I propose that inside lambdas, when closed with `;` or `EOF`, that the implicit input should not be `Q` but instead the innermost lambda var. For instance, the

[2016-04-14 00:41] isaacg1 commented on #190
This is great, I like this a lot.

[2016-04-24 08:36] isaacg1 commented on #190
Implemented

[2016-04-24 08:36] #190 closed

[2016-04-24 08:37] isaacg1 commented on #187
Also, `.>` and `.<`

[2016-04-24 08:41] isaacg1 commented on #189
Implemented - the `-M` command line flag.

[2016-04-24 08:41] #189 closed

[2016-05-21 19:58] isaacg1 opened #195 "F on arity 1 functions"
Currently, F does nothing on <pfn1>. A proposal for

[2016-05-21 19:59] isaacg1 commented on #195
what it could do was to apply the given function to the input a given number of times.

[2016-05-21 20:06] Maltysen commented on #195
How about having the parser detect that the op is arity one and then taking an additional argument. Like for our motivating example, it would be `.!F3 2` would work because the parser would make `.!F` consume 2 args.

[2016-05-28 06:43] isaacg1 commented on #195
Implemented.

[2016-05-28 06:43] #195 closed

[2016-05-28 07:02] isaacg1 commented on #182
Fixed.

[2016-05-28 07:02] #182 closed

[2016-06-11 23:53] isaacg1 opened #198 "Switch `."` to bijective base."

[2016-06-12 04:36] Maltysen commented on #198
What do you mean by bijective base?

[2016-06-12 04:38] isaacg1 commented on #198
https://en.wikipedia.org/wiki/Bijective_numeration

[2016-06-12 04:53] Maltysen commented on #198
Would this be a form of compression?

[2016-06-12 21:22] Maltysen commented on #198
oh, I see what you mean, the things goes to a 0, which disappears when you store it as a number.

[2016-06-13 03:51] Maltysen opened #199 "Special Case `F`"
I realized that we can special case the meta-ops depending on the operators passed into them. The specific motivating example I have is `*F`.

We can first of all make the multiplicative identity be `1` so that `*FY` gives `1`. Additionally, we can also make ints passed into it no do `U` but instead `S` so that it is equivalent to factorial.

We can even take this a step further and make floats re

[2016-06-13 03:54] Maltysen commented on #187
I just realized that we don't have to necessarily have to switch the input *order* to have he order that they *fill up in* switch. For example: `@3` could expand to `@Q3`.

[2016-06-13 04:09] pyth-watcher commented on #187
That's an interesting idea - I like anything we can do to increase backward
compatibility while getting the same advantages.

On Sun, Jun 12, 2016 at 11:54 PM Maltysen <notifications@github.com> wrote:

[2016-06-13 07:37] vendethiel commented on #187
Wouldn't that complicate the parser more? You need to detect you're at eof, and that you were parsing a `@` (i.e. `@hT`)

[2016-06-13 07:53] kckennylau commented on #198
Looks like I started this issue. I also provided a [compressor](http://pyth.herokuapp.com/?code=%2B%2BhSzeSzCu%2B%2aG-hCeSzChSzHhM-RChSzCMzh0&input=aaaabbbabbbabccc&debug=0) and a [decompressor](http://pyth.herokuapp.com/?code=JC%3Ez2Kh-C%40z1ChzWJ%3D%2BYh%25tJK%3D%2F-JeYK%29sCMtM%2BRChz_Y&input=ac%03%C3%9D6%C3%B4&debug=0)

[2016-06-29 02:50] andersk opened #201 "=s.TQ assigns to T rather than Q"
`=s.TQ` compiles to `assign('T',Psum(transpose(Q)))`, even though `T` is not mentioned. Shouldn’t that assign to `Q`?

[2016-06-29 03:53] andersk commented on #198
What happens if the compressed string includes `"` or a carriage return (#186)? We probably want to exclude those bytes and use base-254.

By the way, last month I came up with a neat [alternative to bijective numeration](http://codegolf.stackexchange.com/a/78998/39242) that’s way more golfable.

[2016-06-29 04:39] Maltysen commented on #201
that's very weird. even `=.TQ` compiles properly, its only when you put something before it that this bug pops up.

[2016-06-29 04:40] Maltysen commented on #201
the same thing happens with things like `=S.ZQ`. might be a problem in the parser.

[2016-06-29 04:41] Maltysen commented on #201
But it doesn't happen with `=S.!Q` or `=S.aQ` where there isn't a variable called `!` or `a`.

[2016-06-29 04:48] isaacg1 commented on #201
Another case of the same bug: https://pyth.herokuapp.com/?code=%3D%2a"blah"Tb&debug=1

To fix this, what Pyth really needs is a tokenizer

[2016-07-05 03:49] kckennylau opened #202 "Feature request - f g f^-1"
(todo: elaborate)
If the new command is named `.G`:

`.G  <pfn><n-1:any><l:d><any> A^-1(C(A(D,...)))`

For example, if I would like to add 100 to Q, multiply by 3, then subtract 100:

`+.G100*3dQ`

Reference: [the `&.` operator in J](http://code.jsoftware.com/wiki/Vocabulary/ampdot)

[2016-07-07 03:08] isaacg1 commented on #202
This seems like it would be unfeasible, since pyth doesn't have a concept of an inverse of a functino, unlike J. Do you have any ideas for how to implement this?

[2016-07-07 03:16] isaacg1 commented on #201
This is fixed.

[2016-07-07 03:16] #201 closed

[2016-07-07 04:28] kckennylau commented on #202
Define the inverse of each function, and if a particular function has no inverse, then throw an error.

[2016-07-11 17:44] marknsikora opened #203 "REPL doesn't support debug flag"
It would be nice if the repl supported the debug flag for interactive development. It looks like a simple change, just adding an if in the repl loop. I'll probably give this a try when I have some free time if no one beats me to it.

[2016-07-13 23:40] #203 closed

[2016-07-16 17:16] marknsikora opened #206 "Odd behaviour with debug flag"
The new debug flag support for the repl adds an interesting corner case

[code]

[2016-07-16 17:55] isaacg1 commented on #206
Fixed by 480bab1

[2016-07-16 17:55] #206 closed

[2016-07-19 15:39] FliiFe opened #208 "REPL when no flags are set, and execute code from stdin"
The current behavior for the interpreter is to enter REPL mode when no argument is given, but you can't give code directly to stdin.
For example, this
[code]
or
[code]
Will output this :
[code]
That is not a desired behavior.

So, could we execute code from stdin ?

[2016-07-19 15:51] FliiFe commented on #208
So, judging by the code, it looks like this behavior is not wanted.
This is the code :
[code]
However, to check for actual command line flags, the check should be `len(sys.argv) > 2`, because the first element of sys.argv is the script name, and, AFAIK, is always present (thus keeping a minimal length of 1).

[2016-07-19 23:37] isaacg1 commented on #208
I like the behavior of entering the REPL with no flags. I agree that the code is written incorrectly (len(sys.argv) > 1 is unnecessary and placed wrong). If you want to execute code, you can just use `-c`, what's wrong about that?

[2016-07-19 23:46] isaacg1 commented on #208
I remvoed that unnecessary check you mentioned.

[2016-07-19 23:47] isaacg1 commented on #202
I'm not planning on implementing this, though if someone else did, I'd welcome it.

[2016-07-22 06:06] #208 closed

[2016-08-02 02:39] andersk commented on #186
There are similar issues with `\` followed by NUL or LF or CR.

`\␀` ↦ `imp_print("␀")` ↦ `ValueError: source code string cannot contain null bytes`

`\␊` or `\␍` ↦ `IndexError: string index out of range`

[2016-08-02 02:52] kckennylau opened #211 "Backslashes error in third argument of substitution"
[`:z"b""\\"`](http://pyth.herokuapp.com/?code=%3Az%22b%22%22%5C%5C%22&input=abc&debug=0) does not work but [`:z"b""d"`](http://pyth.herokuapp.com/?code=%3Az%22b%22%22d%22&input=abc&debug=0) works.

I've also tried [`:z"b""\\\\"`](http://pyth.herokuapp.com/?code=%3Az%22b%22%22%5C%5C%5C%5C%22&input=abc&debug=0) which also does not work.

[2016-08-02 14:50] kirbyfan64 commented on #211
FWIW, `:z\b\\` is shorter and has the same effect.

[2016-08-10 18:49] kckennylau opened #213 "Operator `]` (wrap into singleton array) does not support implicit argument"
`]` does not expand to `[Q]`.

My guess is because `]` is not a macro but a literal that affects the string to be evaluated directly, instead of a function.

[2016-08-10 18:50] kckennylau opened #214 "`.<` and `.>` (rotate) fail when array is empty"
`.<[)3` errors.

[2016-08-11 02:29] isaacg1 commented on #213
Fixed. `]` should not have been in `optional_final_arg`. It had nothing to do with function vs. infix.

[2016-08-11 02:29] #213 closed

[2016-08-11 02:29] isaacg1 commented on #214
Fixed.

[2016-08-11 02:29] #214 closed

[2016-08-16 08:36] jakobkogler opened #215 "' returns list of bytes"
If you want to fetch a website with `'` (e.g. `'"http://www.google.com`), you'll receive a list of bytes.
This is not a obviously not the desired result, because non of the other operations in Pyth take bytes as parameters.

A fix would be to convert the bytes to strings.

[2016-08-18 07:04] kckennylau opened #216 "Bug with `X`"
Please look at the following two codes:

[`J*\]U5 3XJ0X@J0T5`](http://pyth.herokuapp.com/?code=J%2a%5DU5+3XJ0X%40J0T5&debug=0) (The `\]` is not really there, but I cannot type bare `]` in link text.)

[`JmU5 3XJ0X@J0T5`](http://pyth.herokuapp.com/?code=JmU5+3XJ0X%40J0T5&debug=0)

The only difference is how `J` is generated, but the end result is different.

Namely, in the first code, all the sub-a

[2016-08-18 07:21] jakobkogler commented on #216
This is not a bug related with `X`.
It's just the way Python handles objects. Try this Python code:

    [[100, 2], [100, 2]]

Python doesn't actually copy elements, when you don't be explicit. It's the same thing as `a = b`. There is still only one object, not two. `a` and `b` simply point to the same object.

`mU5 3` works though, since you generate three completely different lists.

We probably

[2016-08-18 07:24] kckennylau commented on #216
"We"? How many developers are there?

[2016-08-18 07:24] kckennylau commented on #216
Also, is there a golfier way to modify elements in 2D lists?

[2016-09-14 06:37] xPMo opened #217 "Docs not updated on ? ternary and .? else"
The tutorial/program examples have been updated (#163 #175), but the [control flow docpage](https://github.com/isaacg1/pyth/blob/master/docs/spec_control.rst) has not.

[2016-10-24 02:22] #217 closed

[2016-10-24 08:27] #216 closed

[2016-10-24 08:27] #202 closed

[2016-12-06 18:58] GolfingSuccess opened #220 ".j <none> <none> does not work as expected when the input is empty"
This is the source code:

    .j
The input is empty.

This is the error message:
[code]
AFAIK, it should output this instead:

    1j
This works as intended, for +1 byte (which, in the sense of code-golf, I need to get rid of!!!):

    .j0

[2016-12-19 13:17] rexroni opened #221 "'F' does not behave as expected after the first command"
This program runs:

[code]

This program doesn't:

[code]

Instead, it outputs this error:
[code]

I see this both in the up-to-date git repo, and in the online interpreter (https://pyth.herokuapp.com/).  I am new to pyth, but I don't see anything in the documentation which would indicate this is intentional behavior.

[2016-12-19 14:00] jakobkogler commented on #221
This is not a bug. `F` simply has a few different functionalities:

1. The  first one is, that will start a loop, if `F` appears at the beginning of a statement, like in the program `FNU5N;`
2. If there is an binary operation in front of it, it will fold the over the operation. For instance `*F[2 3 5 7)` will fold the list by multiplication, which means it will compute the product `2*3*5*7`. This

[2016-12-19 14:33] rexroni commented on #221
Ah, thank you for the explanation.  I will close the issue.

But isn't it inconsistent to use *F[2 3 5 7) and not F*[2 3 5 7)?  It seems to me that the "main" operator normally comes first (fold) and then the "minor" operator (*)?  I know I am lacking the compiler-speak by calling them "main" and "minor" but, that's how it is with "=-K1" for "K-=1", right?

[2016-12-19 14:33] #221 closed

[2017-04-21 08:27] Zer0Zer0Huit opened #222 "The documentation does not specify the difference between J and K"
The behaviors of J and K are slightly different. J is assigned with copy while K is assigned directly. The documentation in [rev-doc.txt](https://github.com/isaacg1/pyth/blob/master/rev-doc.txt) does not specify this difference:
`J  <any>                  Variable, Autoinitializing. J=A on first use.`
`K  <any>                  Variable, Autoinitializing. K=A on first use.`

[2017-04-21 13:49] isaacg1 commented on #222
J and K at one point had different behaviors, but do not any longer. The docs reflect this fact. You can see that they are identical by looking at the compiler Python code:

[code]

[2017-04-21 13:49] #222 closed

[2017-05-04 04:14] kckennylau opened #223 "Feature request: variable of whole array in mapping functions"
e.g. in the lambda of `m`, what if we used `b` to refer to the whole array and `d` to each item?

The same goes with `f`, and `o`.

[2017-05-04 04:23] isaacg1 commented on #223
That's a neat idea. Might be rather tricky to implement, however. Also, I'd like to do it without using up more variables, if possible. The last time this came up, we did it with ;. Can you think of any other characters that are invalid inside a lambda? Also, can you give some sample code using this feature?

[2017-05-04 04:35] kckennylau commented on #223
`fq2/bT[1 1 2 2 3)` should give `[1,1,2,2]`.

[2017-05-04 05:49] jakobkogler commented on #223
How about a 2-char variable. (@isaacg1 Is this possible?)

Alternatively `(` is available.

[2017-05-07 12:18] kckennylau commented on #223
Why is `(` available?

[2017-05-07 12:36] jakobkogler commented on #223
`(` was (or is) the tuple constructor. And tuples don't have any purpose in Pyth any more, Pyth only uses lists.
When Pyth was created, some methods worked differently, when applied to a tuple instead of a list. But at some point isaacg1 changed it, so that there is no difference between both types any more. Also he change all methods, such that they will return lists instead of tuples. For instan

[2017-05-13 08:28] DonaldTsang opened #224 "Feature Request: A lot of them"
Methods for saving space:
Compress long integer variable into larger bases and removing trailing zeros
Long string or byte data compression using LZMA, uncompressed when used
Python-compatible Base85 https://tools.ietf.org/html/draft-kwiatkowski-base85-for-xml-00
Base91 https://github.com/SunDwarf/base91-python

Angular divisions:
Whole circle: https://en.wikipedia.org/wiki/Turn_(geometry)
400-uni

[2017-05-17 05:55] isaacg1 opened #226 "All lists with elements up a length"
s^L"+@="UhQ

This should be a builtin.

[2017-05-27 22:15] isaacg1 commented on #215
Fixed by 125b8bf

[2017-05-27 22:15] #215 closed

[2017-05-27 22:26] isaacg1 commented on #220
Fixed by 3ee3fcb

[2017-05-27 22:26] #220 closed

[2017-05-31 23:04] Zer0Zer0Huit opened #229 "List constructor on strings does not act as list() in Python"
From the documentation of `[`: `List constructor. list(A) in Python`.

However, `[G` won't produce `['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']` as expected, but `['abcdefghijklmnopqrstuvwxyz']`. That is true for any string fed to `[`.

It is redundant with `]` which will produce `[A]`.

[2017-05-31 23:06] isaacg1 commented on #229
@Zer0Zer0Huit The point of `[` is to act as an unbounded list constructor. It can take any number of arguments. For instance, `[3 1 4 1 5 9` -> `[3, 1, 4, 1, 5 ,9]`. I agree that the documentation is unclear, I'll update it.

[2017-05-31 23:22] isaacg1 commented on #229
I updated the docs, this should be more clear now. https://github.com/isaacg1/pyth/blob/master/rev-doc.txt line 177 has the new version.

[2017-05-31 23:22] #229 closed

[2017-06-01 19:07] Zer0Zer0Huit commented on #229
By the way, what would be the right way to have the same behaviour as `list()` on strings?

[2017-06-01 19:09] jakobkogler commented on #229
`md"abc"`

[2017-06-20 10:00] DonaldTsang commented on #224
Also for Number theory
https://en.wikipedia.org/wiki/Kronecker_symbol

[2017-06-20 10:02] isaacg1 commented on #224
Since each feature implemented is a significant amount of work, and uses up symbols, I'm only going to  consider implementing features where either there's a challenge it would have helped on, or via a pull request.

[2017-06-28 10:03] isaacg1 commented on #211
Pyth's online interpreter blacklists lots of stuff to prevent hacking. Unfortunately, it's a little overzealous. Maybe someday we'll fix this, like with a sandbox system, but it's not something I'm going to work on.

[2017-06-28 10:03] #211 closed

[2017-07-06 10:46] isaacg1 commented on #199
The easy part of this was implemented in c374b45f

[2017-07-06 21:50] Jim-Bar commented on #223
I agree with this feature request. Moreover that could be implemented for `.e` as well.

[2017-07-06 21:55] Jim-Bar opened #234 "Proper min and max"
Currently it is really bothersome to do a simple `min` or `max`: respectively `h.mbQ` and `h.MZQ`. I suggest to add real minimum and maximum functions with the signatures `min <seq>` and `max <seq>`.

[2017-07-06 22:31] jakobkogler commented on #234
Use `hSQ` and `eSQ` instead.

[2017-07-07 01:00] #234 closed

[2017-07-08 10:24] DonaldTsang commented on #198
Also: https://en.wikipedia.org/wiki/Negative_base

[2017-07-09 05:13] andersk commented on #198
@DonaldTsang I don’t see how negative bases help here; they need a nonzero leading digit the same way positive bases do.

[2017-07-15 12:10] DonaldTsang opened #235 "2D array rotation"
`def rotate_clockwise(x): [list(y) for y in zip(*x[::-1])]`

[2017-07-15 13:33] DonaldTsang opened #236 "Elliptic Curve Addition and multiplication"
Possible shortcut in https://codegolf.stackexchange.com/a/76113

[2017-07-15 14:46] DonaldTsang commented on #236
Also an example:
[code]

[2017-07-15 23:13] Steven-Hewitt commented on #235
`C_` in Pyth.  I see no reason to make this a builtin.

[2017-07-16 23:46] #235 closed

[2017-07-16 23:46] isaacg1 commented on #236
THis is rare/obscure enough that I'm not adding it.

[2017-07-16 23:46] #236 closed

[2017-07-17 16:15] Mr-Xcoder opened #237 "Feature-request: Add a function that duplicates a sequence"
If I want to duplicate a String (i.e. append a copy of itself to it, e.g.: `ABCD` -> `ABCDABCD`), I have to write `*2"ABCD`. I think this should be a one-byte built-in, like `y` is to `*2<num>`. That would be helpful, especially in tasks involving String manipulation.

[2017-07-17 21:13] isaacg1 commented on #237
What one character operation do you think this is more useful that, which we should remove?

[2017-07-18 08:17] #237 closed

[2017-07-19 01:51] jackHedaya commented on #156
Perhaps a way to write in Python and then have it converted to Pyth?

[2017-07-19 22:43] isaacg1 commented on #156
@jackHedaya That's very unlikely to ever be possible - the two languages are too different.

[2017-07-20 16:52] jackHedaya commented on #156
I see... Perhaps better error displaying? For example showing at what point there is an error in terms of Pyth code.

[2017-07-20 20:46] isaacg1 commented on #156
@jackHedaya Could you give an example of the sort of thing you're thinking of?

[2017-07-22 14:22] DonaldTsang opened #238 "Circular Bitshift (right) and other possible bit manipulation functions"
[code]

[2017-07-22 15:20] DonaldTsang opened #239 "Better Syntax for adding in "subject-specific libraries""
Is it possible to create a language, that allows people to add scripts or functions easily?
Reference: https://github.com/ThreeFx/Haskolf/blob/master/Haskolf.hs
Other examples: https://github.com/barbuz/Husk

[2017-08-12 04:37] isaacg1 commented on #239
I don't think this is a Pyth issue. If you want to design such a language, go ahead.

[2017-08-12 04:37] #239 closed

[2017-08-12 04:37] isaacg1 commented on #238
This seems really unlikely to be relevant.

[2017-08-12 04:37] #238 closed

[2017-08-20 02:34] isaacg1 opened #240 "General partitions"
`./` only gives ordered partitions. General partitions would be good.

[2017-09-18 20:00] Mr-Xcoder opened #241 "Make the sum of an empty array return 0 instead of []"
While messing around with sum of arrays, I have noticed that the sum of an empty array returns `[]` instead of `0`. I don't know the reasons behind this, but it isn't really beneficial for golfing. For instance, if I want to get an integer instead of `[]`, I have to use logical or with `0`, which I don't consider very intuitive. That wastes even more bytes when mapping, for instance, because it di

[2017-09-18 20:29] jakobkogler commented on #241
Originally `sY` resulted in `0`. It was changed rather recently in commit c374b45f059646503bc426ff0cb47fe567f0514a

I also don't like this change. Adding numbers in a lists is more common than joining lists.
On an upside, `+FY` will still return `0`, which is shorter and cleaner than `|sY0`. Still longer than `sY` though.

[2017-09-19 14:03] isaacg1 commented on #241
What would you think about making +F and s swapped?

[2017-09-19 14:46] Mr-Xcoder commented on #241
What is the advantage of `[]` as the sum of a list, no matter if it is used with `s` or `+F`? I don't see the point, really. But yeah, I'd much rather prefer `+F -> []` and `s -> 0`.

[2017-09-19 15:12] isaacg1 commented on #241
The advantage is that the sum of [[1], [2]] should be [1, 2], so we would expect that the sum of any list of lists to be a list. But then the sum of [] needs to be [].

[2017-09-21 17:08] Sobin235 opened #242 "Error creating Python code from Pyth Source"
I was working on [this problem](https://codegolf.stackexchange.com/questions/142655/draw-my-downslashes), and I created a very basic starting point.

As I tried executing the code, there were more errors than I'd expected, including "parse_token", which I didn't have in my code. I opened the debugger to see what I did, and it did not show the converted python code, just lines on lines of compiler

[2017-09-21 17:15] cykapup commented on #242
Issue was I typed "J" instead of "H" on character 11, I guess the auto-init tripped up the compiler

[2017-10-13 23:43] Maltysen commented on #242
Yeah, this sort of error usually means that you messed up the arity somewhere. This could be because you actually gave the wrong number of arguments, or as you did, used a wrong command, which messed stuff up down the line.

We may want to look into catching these errors and doing our own compile-time error reporting, but that may be hard.

[2017-11-03 11:05] ng-0 opened #245 "release?"
Hi,

as this https://pypi.python.org/pypi/pyth/0.6.0 is obviously not the pyth I'm looking at in this git repository,
could you make a release (if you think a certain commit release worthy)?

Preferable a tarball (this is easier in the longterm for operating systems), but a git tag is okay aswell.

[2017-11-03 11:18] ng-0 commented on #245
I just spotted a lack of an setup.py, so even when it's small I'll try to send one your way. This will help inclusion in our OS and reduce the lines of code I'd keep downstream otherwise.

[2017-11-03 20:24] isaacg1 commented on #245
This is a good idea - I'll make this happen.

[2017-11-18 02:53] isaacg1 commented on #241
I changed this back in 015c875

[2017-11-18 02:53] #241 closed

[2017-11-18 13:34] Mr-Xcoder commented on #241
@isaacg1 Thanks for changing that!

[2018-02-10 01:17] xPMo opened #247 "Implicitly round/floor float when multiplying with an array/string/etc."
[An answer to a recent challenge](https://codegolf.stackexchange.com/questions/108634/enthusiastically-russianify-a-string) had to floor a float in order to multiply by a string.  If a floor is not explicitly provided, Pyth simply errors out.

There are two directions that this can go:

1. round/floor before multiplying: `*c5 2"ab"` -> `abab`

2. append that fraction (rounded/floored) of the strin

[2018-02-10 06:23] Steven-Hewitt commented on #247
I wouldn't quite call my answer *recent*, but this could be a nice change.

However, I'd recommend keeping the old behavior on one of the two permutations (preferably `* <num> <col>`, so that we can hack a check for floats with `.x*TG` (where we're checking `T` for floatiness, and G is the current global value of "abc...yz".)

[2018-02-10 17:13] ConorOBrien-Foxx commented on #247
I'm not a Pyth expert, but wouldn't is just be better to have a float check builtin? IIRC there are some open commands.

[2018-02-10 17:37] Mr-Xcoder commented on #247
I think we shouldn't go with rounding, because it can be rather confusing. Honestly, I think it should floor the argument. Regarding float check, it's not too hard to do it without a dedicated command (`!sI`). I think this functionality can be extended to:

* Indexing (`@`).
* Get first **N** (`<`)
* Remove first **N** (`>`)
* Cyclic rotations (`.<` and `.>`)

And perhaps even more. Another versio

[2018-02-14 19:40] robbie0630 opened #248 "Filter causes it to hang"
I'm trying to golf down some problems from Project Euler. My predicate function `L|!%b3!%b5` works as expected, but both `sfL|!%b3!%b5U^T3` and `L|!%b3!%b5)sfyU^T3` cause it to hang. I've tried both the sum command and the filter command on some sample sets, and I believe the problem to lie in the filter command.

[2018-02-14 20:49] Mr-Xcoder commented on #248
You’re close, but `L` cannot be used like that. You must declare your function using `L` and later use it using `y<argument>`, like this:

    L|!%b3!%b5fyTU^T3

Notice that `T` is the variable you use in the scope of the filter function. In this particular case, you can use `#` that takes a **prefix function** instead:

    L|!%b3!%b5y#U^T3

**However** Why do you need to define a function when y

[2018-02-14 20:53] isaacg1 commented on #248
Another way to think of this: The various "higher order functions" in Pyth, such as `f`, `m`, `o`, etc. don't actually take functions as arguments. Instead, they take code blocks. `|!%T3!%T5` is placed immediately after `f`, as Mr-Xcoder mentioned.

Feel free to ask more if it's still unclear. That being said, the language is working as intended.

[2018-02-14 20:53] #248 closed

[2018-02-19 02:47] DonaldTsang commented on #224
For Kronecker symbol (the person golfing it is using Pyth as a base) https://codegolf.stackexchange.com/questions/65366/calculate-the-kronecker-symbol

[2018-04-18 20:23] fortraan opened #249 "Feature Idea: Implicitly split sequences to fulfill arity"
For example, in [this code golf](https://codegolf.stackexchange.com/questions/162710/integer-logarithms), what was previously `s.lF` or `s.lhQe` would become `s.l`.

Another example: Trying to replace every matching substring with another substring
Code:

    :Q

Inputs and Outputs:

    "foo bar", "ba.", "baz" ---> foo baz
    "var a = true", "true", "false" ---> var a = false
    "yeeeeeees plee

[2018-05-07 20:47] isaacg1 opened #250 "Splatted .b seems to fail on empty input"
`.b2Y)` errors

[2018-06-22 02:01] GammaGames opened #251 "Encode and decode"
I think it might be useful to have functions to encode and decode strings. If this functionality was to be added, it could take the format of `.d<str><str>` and `.D<str><str>`.  The first argument is the string and the second argument is the encoding (taken from [the standard encodings](https://docs.python.org/3.6/library/codecs.html#standard-encodings)).

For example, to encode the input into cp1

[2018-11-10 17:30] DonaldTsang opened #252 "Stax-like constants and functions"
- [ ] Different orientations of base64 and base32 character arrangements
- [ ] 4/3*pi (for spheres) and maybe pi / 3 (for circular pyramids)
- [ ] List of all Unicode whitespaces
- [ ] List of all [insert language here]
- [ ] List of all brackets
- [ ] Shorthand for other powers of 2, 10, 12, 20 etc.
- [ ] positive infinity, negative infinity, NaNs etc.
- [ ] Semitone ratios (for music purposes)
-

[2018-11-10 17:46] DonaldTsang opened #253 "Japt-like constants and functions"
https://ethproductions.github.io/japt/
- [ ] AEIOU(Y)
- [ ] Shorthand for 10~16
- [ ] shoco/smaz text compression function
- [ ] Newlines vs Tabs vs Spaces
- [ ] QWERTY array
- [ ] Golden Ratio and Tau (Pi * 2)
- [ ] Truthy/Falsey shortcut
- [ ] Simple vs Regex replace
- [ ] String search by result vs count
- [ ] 2D array manipulation
- [ ] String/Array "chopping"
- [ ] Millisecond pauses/timer
-

[2018-11-10 17:55] jakobkogler commented on #253
I really doubt that isaacg1 will implement a random list of suggestions without any motivation why they should be implemented.
It's not the goal of Pyth to have a token for every possible scenario.

[2018-11-10 17:56] jakobkogler commented on #253
Also, some things are already pretty short in Pyth, GCD with `i`, Truthy/Falsy evaluation with `!!`, simple replace with `X`, regex replace with `:`.

[2018-11-10 18:00] DonaldTsang commented on #253
@jakobkogler It would be great to see optimizations that understand where these "less used" functions are coming from.

[2018-11-10 18:01] DonaldTsang opened #254 "Minko-like constants and functions"
Reference: http://play.starmaninnovations.com/minkolang/
- [ ] Bitshift (universal vs bit vs int16 vs int32 vs int64 vs int128)
- [ ] Matrix Arithmetic (plus/minus/multiplication/division/modulo)
- [ ] Trignometic, Hyperbolic, atan2, and their inverses
- [ ] Prime Counting and Totient functions
- [ ] Real and Imaginary Number calculations
- [ ] Binomial and Permutations
- [ ] Mean, Standard Deviat

[2018-11-10 18:06] DonaldTsang opened #255 "Pyke-like constants and functions"
https://pyke.catbus.co.uk/
- [ ] Astronomy and Astrophysics related constants and functions

[2018-11-10 18:26] DonaldTsang opened #256 "Gaia-like constants and functions"
https://github.com/splcurran/Gaia/wiki/Operators
- [ ] Subfactorial and derangements
- [ ] QWERTY and other keyboard arrays
- [ ] Number of days in month array
- [ ] Month name array
- [ ] Week date array

[2018-11-10 18:28] DonaldTsang opened #257 "Milky-like constants and functions"
https://github.com/zachgates/Milky-Way
- [ ] shortcuts for 10, 20, 50, 100 and other "currency constants"

[2018-11-10 18:31] jakobkogler commented on #253
I wrote you earlier, because I wanted to avoid that you are doing a lot of hard work for nothing.
I really doubt that these lists will be useful.

[2018-11-10 18:32] jakobkogler commented on #253
E.g. look at  #224, has any of these suggestions been implemented?

[2018-11-10 18:32] DonaldTsang opened #258 "Jelly-like constants and functions"
https://github.com/DennisMitchell/jellylanguage/wiki/Atoms
- [ ] shortcuts for 128, 250, 256, 360 etc.
- [ ] Vowels, consonants
- [ ] QWERTY array
- [ ] Slashes and brackets
- [ ] Set Union, difference and other operators
- [ ] Run-length encoding
- [ ] N-th prime

[2018-11-11 04:45] DonaldTsang commented on #258
@Mr-Xcoder perhaps you could help me evaluate which ones are worth it and which aren't

[2019-05-09 04:03] nim-ka opened #259 "Online interpreter does not work"
Try `h"hi"`. It errors:
[code]

[2019-05-09 04:03] nim-ka commented on #259
http://pyth.herokuapp.com/?code=h%22hi%22&debug=0

[2019-05-22 10:52] haselkern commented on #259
Yup, can confirm. The simple example `yU3` from the documentation throws a similar error:

[code]

[2019-05-22 11:32] jakobkogler commented on #259
Yeah, the problem is confirmed. I already made a fix for it, however @isaacg1 needs to accept and deploy it.

[2019-05-25 14:44] Maltysen commented on #259
It turns out that i really can't live without Pyth in my daily life (I can't count how many times I've tried to run some script before getting stopped by this bug in the last couple of weeks), so i've uploaded @jakobkogler's fix to http://pythtemp.herokuapp.com/. This is a strictly temporary measure until @isaacg1 accepts the PR.

[2019-06-12 16:10] randomdude999 commented on #153
Did a bit of digging. Looks like the C version of `re` (`_sre.c` in CPython) tries to import the Python version of `re` due to needing to compile the regex replacement string ([relevant source](https://github.com/python/cpython/blob/d561f848b235f2011a43b705d112055b92fa2366/Modules/_sre.c#L1029)). That import happening seems inevitable (`re.sub` always calls  `_sre_SRE_Pattern_sub_impl`, which alwa

[2019-06-30 22:16] GolfingSuccess commented on #259
@Maltysen Hey, I can also confirm the issue! Thanks for the temporary solution.

[2019-07-09 14:53] GolfingSuccess commented on #259
So, it looks like the issue isn't currently present, although no change has been made yet.

[2019-07-09 15:05] jakobkogler commented on #259
No, still broken.

[2019-07-09 15:16] GolfingSuccess commented on #259
[Not for me...](http://pyth.herokuapp.com/?code=1&debug=0)

[2019-07-09 15:26] jakobkogler commented on #259
The error doesn't occur for every code. Try one of the examples mentioned above. Those still don't work.

[2019-07-09 17:08] GolfingSuccess commented on #259
Something has improved for now, since it did occur for e.g. `z`, but it doesn't anymore.

[2019-08-18 19:29] Emnolope opened #261 "Library support and import"
This is a feature request. It'd be cool if Pyth supported importing libraries, albeit abbreviated ones. This would allow for some ridiculously complicated code at very low character lengths. There are already standard abbreviations such as numpy = np, module=mdl, pandas=pd .

[2019-08-19 17:39] jakobkogler commented on #261
I think it would be quite difficult to integrate such libraries.

First of, all the abbreviations are already valid Pyth codes. E.g. `np` prints a value and then negates it.
So you would need some differrent tokens already.
And then you need all kinds of other syntax. How do you create a numpy array? Certainly not with `np.array()`, since Pyth uses Prefix notation. You do you manipulate with these

[2020-03-01 06:33] Mukundan314 opened #262 "Unable to use variables autoinitialized to input from `.v`"
Using variables auto initialized to input (i.e. `z`,`Q`) from `.v` like:
[code]
gives the error:
[code]

[2020-07-20 09:49] Tams-Tams opened #263 "Get nth element in a list"
I have a question about pyth. Example I have a list ```=N["H""E""L"```.
Is there a command in like python's ```N[index]``` in Pyth?

regards,
Tanmay

[2020-07-20 09:52] #263 closed

[2020-07-20 09:53] Tams-Tams commented on #263
I got it. `@Nindex` does it.

[2020-07-21 14:41] Tams-Tams commented on #262
@Mukundan314 Also doesn't work with just `v"z`.  ;-) Then the error is ```Traceback (most recent call last):
  File "pyth.py", line 771, in <module>
  File "<string>", line 3, in <module>
  File "/app/macros.py", line 1093, in Pliteral_eval
  File "/app/.heroku/python/lib/python3.7/ast.py", line 91, in literal_eval
  File "/app/.heroku/python/lib/python3.7/ast.py", line 90, in _convert
  File "/ap

[2022-02-22 01:41] cpaca opened #264 "Executing Python code in Pyth?"
As title says, would it be possible to add something that executes Python code into Pyth?

The main reason I ask for this is that there will - inevitably - always be something inside Python that can't be done in Pyth. Whether this is because a coding challenge allows `import` statements for specific types of libraries (which, obviously won't exist in Pyth, only Python) or something else, Python wi

[2022-02-22 01:45] cpaca commented on #264
Actually, I see that .x got used, but .X and .Y are available. Maybe .X can be made into a Pyth exec() (to fulfill #156) and then .Y can be made into a Python exec()?

Or, better yet, just make .X take two values: An int and a string. If the int is 0, it's a pyth exec(), but if the int is any other value, it's a Python exec()

[2022-02-22 01:53] cpaca commented on #264
Well I made .X into exec().

[Here it is.](https://github.com/cpaca/pyth)

Not going to make a PR for it though, because I can't actually check if the fork worked or not. I run Python on TIO (and the helper website you've given) but not on my own computer, so I wouldn't know how to set it up.

[2022-02-22 02:21] cpaca commented on #264
[I'm an idiot. This functionality is already doable, since the eval() is a thing, though not directly.](https://tio.run/##K6gsycjPM/7/P7UsMUdDKbUiNVkjRqmgKDOvRCMmJkapJLW4RKEktaIExNEEIiXN//8B)

[2022-02-22 02:21] #264 closed

[2022-04-07 21:26] isaacg1 commented on #264
I think what you're looking for is $, which allows Python literals to be embedded into Pyth. For dynamic Python execution, eval is your best bet, yes.